.caja-principal {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

.contenedorPieza {
    height: 180px;
    width: 180px;
    border: 3px solid #37D3F7;
    border-radius: 12px;
    margin-right: 2vh;
    display: flex;
    justify-content: center;
}
@media (min-width: 1920px) {
    .contenedorPieza {
        height: 280px;
        width: 280px;
    }
}
#contenedorPiezas{
 
    display: flex;
    justify-content: center;
}
.caja-flex {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 24px;
    color: #37D3F7;
    font-weight: bold;
}

.box {
    height: 120px;
    width: 120px;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
    margin-right: 10px;
    transition: all .3s;
}

.box:hover {
    border: 3px solid #37D3F7;
    background: #B6ECFF;
}

.box img {
    width: 60%;
    height: auto;
    cursor: pointer;
    box-shadow: none !important;
}
.box img:hover {
    box-shadow: none !important;
}