.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

/* #listA {
    display: flex;
    flex-wrap: wrap;
} */

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
}

.box {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    margin-left: 2vh;
    margin-right: 2vh;
}

.aguilita {
    width: 120px !important;
}

.box img {
    width: 180px;
}

.vocal {
    width: 70px;
    height: 35px;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-right: 0.5vh;
    position: relative;
}

/*Style nuevos*/

.contenedor-silabas {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
}

.contenedor-silabas .silaba {
    /* width: 50px; */
    border-radius: 12px;
    margin-right: 0.5vh;
}

.silaba h4 {
    display: inline-block;
    font-size: 23px;
    background-color: #B6ECFF;
    border: 1px solid #37D3F7;
    font-weight: 600;
    padding: 1px 13px;
    border-radius: 12px;
}

.caja-palabra {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.caja-palabra span {
    font-weight: 600;
    font-size: 23px;
    display: block;
}

/*Media querys*/

@media (min-height: 540px) {
    #palabras li {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 2vh; */
    }
    .box-img {
        border-left: 1px solid silver;
        padding: 10px;
    }
    .silaba h4 {
        padding: 1px 9px;
    }
}

@media(min-height: 640px) {
    #palabras {
        /* padding: 50px; */
        display: flex;
        justify-content: center;
    }
}

.row {
    margin: 0;
}

.principal {
    text-align: center;
    margin-top: 5vh;
}

.principal img {
    width: auto;
    height: 85px;
}

/* arrow */

.arrow {
    width: 149px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.arrow .curve {
    position: absolute;
    overflow: hidden;
}

.arrow .curve:before {
    content: '';
    position: absolute;
}

.arrow-right:before {
    border: none;
    background-color: #0095DA;
    height: 30%;
    width: 91%;
    top: 35%;
    left: 0;
    border-radius: 12px;
}

.arrow-right:after {
    left: 88%;
    top: 0;
    border-width: 20px 20px;
    border-left-color: #0095DA;
}

.arrow-left:before {
    border: none;
    background-color: #0095DA;
    height: 30%;
    width: 91%;
    top: 35%;
    left: 0;
    border-radius: 12px;
}

.arrow-left:after {
    right: 88%;
    top: 0;
    border-width: 20px 20px;
    border-left-color: #0095DA;
    transform: rotate(180deg);
}
.contenedor-ejercicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ejercicio {
    width: 34.3%;
    padding-top: 1vh;
    /* margin: auto; */
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-top: 15px; */
    align-items: center;
}

.ejercicio .contenedor-respuesta span {
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.ejercicio .contenedor-respuesta span.span-before {
    margin-right: 7px;
}

.ejercicio .contenedor-respuesta span.span-after {
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 180px;
    height: 40px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-right: 1vh;
}


.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    /* margin-left: 5%; */
    padding-top: 20px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.4rem;
    background-color: #37D3F7;
    /* font-weight: bold; */
    padding: 3px 15px;
    border-radius: 12px;
    text-transform: capitalize;
}