.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    /* padding: 10px; */
}

.grid-cabecera {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    /* padding: 10px; */
}

.grid-head {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* padding: 10px; */
}

.grid-item, .grid-item-head {
    border: 1px solid rgb(153, 153, 255);
    font-size: 18px;
    text-align: center;
    /* font-weight: bold; */
    /* margin: .2vh; */
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    padding: 4px;
}

.grid-item-head {
    color: #fff;
}

.grid-item {
    color: #000000;
}

.grid-img {
    /* width: 100%;
    height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.img {
    width: auto;
    height: 65px;
    margin: auto;
}
.materialboxed.active {
    background: #fff;
}

.principal {
    width: 100%;
    height: auto;
}

.grid-caja {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    /* padding: 10px; */
}
.grid-item-cabecera.clr {
    width: 600px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.grid-campo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #6699cc;
}

.clr {
    background: rgb(153, 153, 255);
    border: 1px solid #fff;
}

.s {
    color: tomato;
    font-size: 1em !important;
    margin-right: 1vh;
    margin-left: 1vh;
    font-weight: bold;
}

.ln {
    background: red;
    width: 90%;
    height: 2px;
    margin: 1vh;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 100%;
    height: 40px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #6699cc;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 250px;
}

.select-wrapper {
    position: relative;
    width: 110px;
    margin-left: 1vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 50px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 8px;
}

h5 {
    width: 80%;
    font-size: 130%;
}