.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 130px;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 260px;
}

.select-wrapper {
    position: relative;
    /* margin-left: .5vh;*/
    margin-right: 1vh;
    margin-left: 1vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 130px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

/* Grid */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
}

.grid-template {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    margin-bottom: 6vh;
}

.grid-tabla {
    /* border: 1px solid silver; */
    padding: 0 20px;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
}

.grid-pre {
    /* border: 1px solid silver; */
    padding: 5px 0;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 26px 0 */
    /* flex-direction: column; */
}

/* Styles */

.f1 {
    width: auto;
    height: 130px;
}

.img {
    width: 100px;
    height: auto;
}

.img-two {
    width: auto;
    height: 40px;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}