

.imgvf{

  
    background-image: url(../img/2-6/a6.gif);
    background-size: 450px 240px;
    width: 450px;
    height: 240px;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.container, .content-wrapper {
    /* margin-top: 145px; */
    
    position: relative;
       top: 90px;
    /* left: 420px; */
    /* width: 463px; */
    margin: 0 auto;
       left: 0;
}
.contenedorimg {
    border: solid 1px gainsboro;
    width: 100px;
    height: 76px;
    margin: 5px;
    border-radius: 15px;
}
#contenedorPiezas {
    background: #5561ff00;
    /* width: 652px; */
    height: 100px;
    float: left;
    margin-left: 211px;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 80px;
}

#contenedorPuzzle img {
    float: left;
    padding: 0;
    width: 70px;
    height: auto;
    position: relative;
    z-index: 10;
}
.seleccion{
    top: 68px;;   
    position: relative;
}
.imgvfi{
  height: 50px;
  width:50px;
}
.item3 {
    width: 100%;
    margin: 0 auto;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgba(128, 28, 92, 0.65);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}
.switch label .lever:after {
    background-color: #861b5f;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: #fdcc5359;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #ffd768;
}
@media (max-width: 481px) {
.imgvf {
    background-image: url(../img/2-6/a6.gif);
    background-size: 100% 100%;
    width: 250px;
    height: 140px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
}

				 @media only screen and (max-width:880px) and (orientation:landscape){
				.item3 {
				    width: 100%;
				    margin: -10% auto;
				}
				}

				 @media only screen and (max-width:500px) and (orientation:landscape){
				.item3 {
				    width: 100%;
				    margin: -18% auto;
				}
				}