

@media (max-width: 1500px) {



#contenedorPiezas {
    background: #5561ff00;
   width: 100%;
    height: 130px;
    float: left;
    margin: 1% 15%;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 110px;
}
#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
    width: 90%;
    min-width: 90%;
        background-color: #f2f0ff40;
}


.recibidor {
    width: 88%;
    padding-top: 20px;
}

}
