.container-two {
  margin: 0 auto;
  max-width: 1300px;
  width: 80%;
  height: 70%;
  display: grid;
  grid-template-columns: 5fr 8fr;
  justify-items: center;
  align-items: center;
}
.columnaUno {
  grid-column: 1/2;
}
.columnaUno img{
  width: 450px;
}
.columnaDos {
  grid-column: 2/3;
}
::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 2px;
  width: 90%;
}
.item{
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(23, 194, 247);
  display: grid;
  
}
.grid-item {
  border: 1px solid silver;
  padding: 6px;
  text-align: center;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}
.grid-item img{
  width: 100px;
}
.imageCaballo img{
  width: auto;
  height: 80px;
}
.tc {
  background: rgb(208, 237, 244);
  font-size: 24px;
  font-weight: bold;
  color: #0095da;
  border: none;
}
.tt {
  background-color: rgb(150, 121, 202);
  color: #fff;
  font-weight: bold;
}
.bn {
  border: none;
}
.img {
  height: 60px;
  width: auto;
  margin-left: 1vh;
}

/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.dropdown-content {
  background-color: rgb(247, 247, 247);
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
}

.principal {
  height: 240px;
  width: auto;
  background: #fff;
}
@media screen and (max-height: 750px){
  .container-two {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    justify-items: center;
    align-items: center;
  }
  .columnaUno img{
    width: 400px;
  }
  .grid-item img{
    width: 80px;
  }
  .item{
    width: 55px;
    height: 55px;
  }
  .imageCaballo img{
    width: auto;
    height: 50px;
  }
  center h5{
    font-size: 24px;
  }
}