#contenedorpuzzle {
    width: 1090px;
    margin: 10vh auto;
}
.item{
    width: 180px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.item img {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    border: solid #cdcdcd;
    border-radius: 20px;
}

.item img:hover {
    border: solid #37D3F7;
}

h5 {
    font-size: 200%;
}

.img-principal {
    margin: 2vh auto 0;
}