

@media (max-width: 1500px) {

h4 {
    margin: 4% 14%;
    /* margin-top: -22px; */
    /* margin-bottom: -41px; */
    position: fixed;
}

.logoUnidad {
    width: 5%;
    left: 15px;
    top: 26px;
    position: fixed;
}


#contenedorPiezas {
    background: #5561ff00;
    /* width: 652px; */
    height: 242px;
    float: left;
    margin: 1% 15%;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 110px;
}
#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
    width: 100%;
    min-width: 100%;
}


.botones {
    padding: 0px;
    position: fixed;
    top: 91%;
    left: 4%;
    margin: 0 auto;
    width: 90%;
}
.recibidor {
    width: 100%;
}

}
