h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.contenedor-elementos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-element {
    width: 33%!important;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contenedor-element>div {
    margin: 0 15px;
}

.contenedor-element .imagen img {
    width: 130px;
}

.silaba {
    display: flex;
    justify-content: center;
}

.silaba-faltante {
    width: 80px;
    height: 40px;
    background-color: #37D3F7;
    margin: auto;
    border-radius: 12px;
}

.silaba-faltante h4 {
    line-height: 1.9rem!important;
}

.contenedor-faltante {
    background-color: antiquewhite;
    border: 3px solid silver;
    width: 180px;
    height: 50px;
    border-radius: 12px;
    margin-top: 15px;
}

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

@media (max-height: 640px) {
    .contenedor-element {
        /* display: flex; */
        width: 20%!important;
    }
    .contenedor-element>div {
        margin: 0;
    }
    .contenedor-element .imagen img {
        width: 90px;
    }
    .contenedor-faltante {
        margin-top: 0px;
    }
    .silabas h4 {
        font-size: 1.5rem;
        padding: 3px 10px;
    }
}