.container-two {
    margin: 0 auto;
    width: 1280px;
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.droppables{
    width: 300px;
    height: 430px;
    display: grid;
    background-image: url('../img/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.box{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 130px;
    height: 40px;
    position: absolute;
}
.respuestas{
    display: grid;
    align-items: center;
    justify-items: center;
}
.contresp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.pieza{
    border: 2px solid rgb(16, 199, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0px 15px;
    line-height: 30px;
    margin: 10px;
    z-index: 99;
    font-weight: 600;
    font-size: 20px;
}
.boxuno{
    left: 58px;
    top: 24px;
}
.boxdos{
    left: 58px;
    top: 78px;
}
.boxtres{
    left: 58px;
    top: 136px;
}
.boxcuatro{
    left: 58px;
    top: 192px;
}
.boxcinco{
    left: 58px;
    top: 250px;
}
.boxseis{
    left: 58px;
    top: 308px;
}
.boxsiete{
    left: 58px;
    top: 364px;
}