h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.contenedor-ejercicios {
    padding-top: 30px;
}

.ejercicio {
    padding-top: 20px;
    width: fit-content;
    margin: auto;
}

.ejercicio span {
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.8rem;
    font-weight: 700;
    border: 3px solid silver;
    border-radius: 12px;
}

.ejercicio span:hover {
    border-color: #37D3F7;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        padding-top: 10px;
    }
}