h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end; */
}

.ejercicio {
    width: 60%;
    padding-top: 1vh;
    margin: auto;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    padding-top: 15px;
    align-items: center;
}

.ejercicio .contenedor-respuesta span {
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.ejercicio .contenedor-respuesta span.span-before {
    margin-right: 7px;
}

.ejercicio .contenedor-respuesta span.span-after {
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 180px;
    height: 40px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 20px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.4rem;
    background-color: #37D3F7;
    /* font-weight: bold; */
    padding: 3px 15px;
    border-radius: 12px;
    text-transform: capitalize;
}


/**************/

@media(max-height: 640px) {
    .ejercicio {
        flex-wrap: nowrap;
    }
    .ejercicio .imagen-palabra {
        width: 130px;
    }
    .contenedor-silabas {
        padding-top: 17px;
    }
}

.contenedor-respuesta img {
    width: auto;
    height: 80px;
}