h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.ejercicio {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.ejercicio .imagen-palabra {
    width: 200px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 150px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
    margin-right: 7px;
    margin-left: 7px;
}

.ejercicio .contenedor-respuesta .palabra {
    width: 200px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin-bottom: 3px;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 11px;
    border-radius: 12px;
    text-transform: capitalize;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .container .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor-ejercicios {
        width: 60%;
    }
    .contenedor-silabas {
        width: 30%;
        justify-content: flex-start;
    }
    .ejercicio .contenedor-respuesta span {
        font-size: 1.7rem;
    }
    .ejercicio .imagen-palabra img {
        max-height: 110px;
    }
}