#contenedorpuzzle {
    width: 890px;
    margin: 10vh auto;
    width: 70%;
}
.contenedorGeneral{
    display: grid;
    grid-template-columns: 3fr 1fr 9fr;
    align-items: center;
    justify-items: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
}
.rojo{
    color: crimson;
    font-weight: 600;
    padding: 0;
    font-size: 3.5rem;
    margin: 0;
}
.info{
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.info {
    display: inline-block;
}
.item {
    /* width: 50px; */
    margin: 0px 10px;
    float: left;
    border: solid #cdcdcd;
    border-radius: 12px;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 25px;
}

.item:hover {
    border: solid #37D3F7;
    cursor: pointer;
}

h5 {
    font-size: 200%;
}

.img-principal {
    margin: 10vh auto;
}
.img-principal img.p-img {
    width: auto;
    height: 120px;
}