.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    padding-top: 6vh;
}

.grid-item {
    border: 1px solid silver;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-grid{
    display: grid;
    grid-template-columns: 4fr 2fr 8fr;
    row-gap: 20px;
}
.imagenPrincipal{
    grid-column: 1/2;
    grid-row: 1/5;
}
.opcUno, .opcDos, .opcTres, .opcCuatro, .opcCinco{
    grid-column: 2/4;
    margin: 10px;
}
.container-grid h6{
    font-size: 24px;
    font-weight: 400;
}
#imagePrincipal{
    width: 500px;
}
.opcSeis{
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.opcSeis .obj{
    padding: 6px 20px;
    background-color: rgb(19, 160, 241);
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.boContainer{
    padding: 10px 40px;
    height: 100%;
    margin: 10px;
    width: 200px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 12px;
    background: rgb(253, 253, 249);
}
.img {
    width: auto;
    height: 110px;
}
.bn {
    border: none;
}
.br {
    border-right: 0px solid transparent;
}
.bl {
    border-left: 1px solid transparent;
}
.mr {
    margin-right: 4vh;
}
.ml {
    margin-left: 12vh;
}
.row{
    margin: 0px;
    text-align: center;
}
.row .col{
    margin: 10px 0px;
}

@media screen and (max-width: 1300px){
    center h5{
        font-size: 18px!important;
    }
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 80%;
        padding-top: 6vh;
    }
    
    .grid-item {
        border: 1px solid silver;
        width: 40px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .container-grid{
        display: grid;
        grid-template-columns: 4fr 2fr 8fr;
        row-gap: 0px;
    }
    .imagenPrincipal{
        grid-column: 1/2;
        grid-row: 1/5;
    }
    .opcUno, .opcDos, .opcTres, .opcCuatro, .opcCinco{
        grid-column: 2/4;
        margin: 10px;
    }
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 85%;
        padding-top: 6vh;
    }
    #imagenPrincipal {
        width: 100px!important;
    }
    .container-grid h6{
        font-size: 16px;
        font-weight: 400;
    }
}
@media screen and (max-height:750px){
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 85%;
        padding-top: 2vh;
    }
    #imagenPrincipal {
        width: 100px!important;
    }
    .container-grid h6{
        font-size: 16px;
        font-weight: 400;
    }
    .grid-item {
        border: 1px solid silver;
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
@media screen and (max-width: 1250px){
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 80%;
        padding-top: 2vh;
    }
    
}
@media screen and (max-height: 650px){
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 85%;
        padding-top: 2vh;
    }
    #imagenPrincipal {
        width: 100px!important;
    }
    .container-grid h6{
        font-size: 16px;
        font-weight: 400;
    }
    .grid-item {
        border: 1px solid silver;
        width: 25px;
        height: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .opcSeis .obj {
        padding: 2px 19px!important;
    }
    .row .container-grid{
        justify-items: center;
        align-items: center;
    }
    .opcUno, .opcDos, .opcTres, .opcCuatro, .opcCinco {
        grid-column: 2 / 4;
        margin: 0px!important;
    }
}