.caja-principal {
  margin: 0 auto;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 0px;
}
::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}
.image{
  grid-column: 1/2;
  grid-row: 1/3;
}
.tabla{
  grid-column: 2/3;
  grid-row: 1/2;
}
.preguntas{
  grid-column: 2/3;
  grid-row: 2/3;
}
.content .image img{
  width: 400px;
  margin-right: 4vh
}
@media (min-width: 1920px) {
  .content .image img{
    width: 700px;
  } 
}
.header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.hd{
  background-color: cornflowerblue;
}
.header > div{
  padding: 10px;
  font-weight: 600;
  color: #fff;
}
.fila{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}
.fila > div{  
  padding: 0px 25px;
  text-align: center;
}
.preguntas span{
  display: inline-block;
}




/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(192, 192, 192);
  width: 60px;
  margin: 6px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 50px;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
  border: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
}








/*SELECT GRANDE*/
.preguntas .select-wrapper input.select-dropdown {
  border: 1px solid rgb(192, 192, 192);
  width: 220px;
  margin: 6px 0px;
  font-weight: 400;
  font-size: 20px;
  height: 35px;
}
.preguntas .dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 220px;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 220px;
  border-radius: 12px;
}

h5 {
  width: 90%;
  font-size: 24px;
}

@media (min-width: 1920px) {
  h5 {
    width: 80%;
    font-size: 200%;
  }
}