.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1000px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.middle{
  width: 100%;
}
.droppable{
  background-color: #fff;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
}
.obj{
  padding: 10px;
  background-color:rgb(30, 136, 229);
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
.item{
  display: grid;
  border: 1px solid rgb(204, 204, 204);
  grid-template-columns: auto auto auto;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 10px 0px;
  grid-row-gap: 30px;
}
.numero h5{
  color : #000;
  font-weight: 600;

}
.item .selector{
  display: grid;
  align-items: center;
  justify-items: center;
  border-left: 1px solid rgb(175, 175, 175);
  border-right:  1px solid rgb(175, 175, 175);
  width: 100%;

}
.card-pa{
  padding: 20px!important;
}