h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 90%;
    margin: auto;
}

table,
td,
th {
    padding: 0;
}

tr {
    border-bottom: none;
}

td.borde-azul {
    border: 3px solid cornflowerblue;
}

span.linea-derecha {
    display: block;
    width: 100%;
    min-width: 20px;
    height: 10px;
    background-color: cornflowerblue;
}

span.linea-derecha-medio {
    display: block;
    width: 50%;
    height: 10px;
    background-color: cornflowerblue;
}

span.linea-alto {
    display: block;
    width: 10px;
    height: 25px;
    margin-left: calc(50% - 10px);
    background-color: cornflowerblue;
}

.palabra {
    width: 170px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 5px auto;
}


/************************************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 40px;
    margin-left: 5%;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}

.animales {
    position: relative;
}

.animales::after {
    position: absolute;
    content: 'Pueden ser';
    top: 5px;
    right: -50%;
}

.aracnidos {
    position: relative;
}

.aracnidos::after {
    position: absolute;
    content: 'como';
    top: 5px;
    right: -40%;
}

.insectos {
    position: relative;
}

.insectos::after {
    position: absolute;
    content: 'como';
    top: -25px;
    right: -13%;
}


/************************************/

@media(max-height: 640px) {
    .contenedor-silabas {
        padding-top: 0;
    }
}