.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
@media (min-width: 1920px) {
    .container-two {
        width: 40%;        
    }
}
h4 {
    text-align: center;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

#palabras {
    padding: 50px;
}

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}
#palabras li > img {
    /* border: 3px solid silver; */
    border-radius: 10px;
    /* padding: 25px; */
}
#palabras li > span {
    font-size: 22px;
    letter-spacing: 10px;
    padding-left: 8px;
    border: 3px solid transparent;
    cursor: pointer;
}
#palabras li > span:hover {
    border: 3px solid #37D3F7;
}

@media (min-width: 600px) {
    #palabras li {
        width: 35%;
        margin: auto;
        margin-bottom: 15%;
    }
}
