.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 1920px) {
    .container-two {
        width: 50%;        
    }
}
h4 {
    text-align: center;
}

/* #listA {
    display: flex;
    flex-wrap: wrap;
} */

#palabras {
    padding: 50px;
}

#palabras li {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 3vh;
}

#palabras li>img {
    /* border: 3px solid silver; */
    border-radius: 10px;
    /* padding: 25px; */
    width: auto;
    height: 140px;
}
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
#palabras .option >span {
    font-size: 22px;
    padding: 3px;
    border: 3px solid transparent;
    cursor: pointer;
}

#palabras li>span:hover {
    border: 3px solid #37D3F7;
    border-radius: 5px;
}

@media (min-width: 600px) {
    #palabras li {
        width: 200PX;
        margin: auto;
        margin-bottom: 2vh;
        margin-right: 3vh;
    }
}
