

@media (max-width: 1500px) {


#contenedorPiezas {
    background: #5561ff00;
    /* width: 652px; */
    height: auto;
    float: left;
    margin-left: 211px;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 80px;
    margin: 0 28% 0;
}

#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
    width: 100%;
    min-width: 100%;
        background-color: #f2f0ff40;
}


.imgvf {
        background-image: url(../img/2-3/a3.gif);
    background-size: 345px 140px;
    width: 350px;
    height: 140px;
    margin: 0% auto 0%;
    background-repeat: no-repeat;
}


.imgvfi {
    height: 40px;
    width: 40px;
}

.item2 {
    font-size: 24px;
    margin-top: 0px;
    width: 71px;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
}
.seleccion {
    top: auto;
    position: relative;
    margin: -2% 10% 0%;
}
}
