.container-two {
    padding-top: 14vh;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.filaHeader {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
    border: 1px solid rgb(223, 223, 223);
    border-right: none;
    border-left: none;
    padding: 2px;
}


/* .bggrey{
  background-color: rgb(206, 206, 206);
} */

.blanco {
    background-color: rgb(255, 255, 255)!important;
    z-index: 99;
}

.filaHeader img {
    margin: 20px;
    height: 60px;
}

.item {
    border: 3px solid rgb(3, 196, 255);
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 25px;
}

.lineas {
    border: 1px solid #333;
}

.h2 {
    font-weight: 400;
    line-height: 25px;
    font-size: 22px;
    background-color: aquamarine;
    width: 120px;
    height: 80px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: left;
    padding: 4px 10px;
}

.violeta {
    background-color: rgb(93, 49, 173);
    color: #fff;
}

.morado {
    background-color: rgb(41, 141, 86);
    color: #fff;
}


/*SELECT*/

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 80px;
    margin: 12px 0px;
    font-weight: 400;
    font-size: 24px;
    height: 40px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: auto;
}

.select-wrapper .caret {
    display: none;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 1300px) {
    .content {
        grid-column-gap: 40px;
    }
    .image img {
        height: 180px;
    }
}

@media(max-height: 640px) {
    .container-two {
        padding-top: 3vh!important;
    }
}