h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
}

.contenedor-oracion {
    width: 80%;
    padding: 20px;
}

.contenedor-oracion span {
    font-size: 1.8rem;
    border: 2px solid silver;
    border-radius: 10px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: 7px 2px;
}

.contenedor-oracion span:hover {
    border-color: #37D3F7;
}

.contenedor-imagen {
    width: 20%;
}

.contenedor-imagen img {
    max-width: 100%;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        width: 89%;
        flex-wrap: wrap;
    }
    .contenedor-oracion {
        width: 100%;
    }
    .contenedor-imagen img {
        width: 200px;
        position: absolute;
        bottom: 0;
        right: 30px;
    }
}