.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}
/* Seleccion */
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 70px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.select-wrapper input.select-dropdown {
    border: 1px solid silver !important;
    font-size: 24px;
    height: 2.4rem;
    margin: 0;
}

.select-wrapper {
    position: relative;
    width: 100px;
    margin-right: 1vh;
    margin-left: 1vh;
}

.select-wrapper ul {
    height: 200px !important;
}

/* Estilos Generales */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    position: relative;
}

.pregunta {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid silver;
    padding: 10px;
    margin: 1vh;
}

.img {
    width: auto;
    height: 80px;
    margin-bottom: 3vh;
}
.text {
    font-size: 1.2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.s {
    color: #0095DA;
    font-weight: bold;
}
h5 {
    width: 65%;
    font-size: 20px;
    margin: -2% auto 0;
    margin-bottom: 2vh;
}
@media (min-width: 1920px) {
    h5 {
        margin: 0% auto 0;
        font-size: 24px;
    }
}