.container-two {
    margin: 0 auto;
    max-width: 1080px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.item div, .item span{
    display: inline-block;
}
.item{
    margin: 10px auto;
}
.info img{
    height: 90px;
}
.itemtres img{
    height: 60px;
}
.image{
    width: 500px;
    height: 500px;
    background-image: url('../img/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -99;
}
.pieza:hover{
    box-shadow: none;
}

.box1{
    position: absolute;
    top: 168px;
    left: 110px;
    width: 280px;
    height: 80px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 40px solid #00000000;
}
.box2{
    position: absolute;
    top: 224px;
    left: 30px;
    width: 100px;
    height: 70px;
    border-right: 20px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 40px solid #c5363600;
    transform: rotateZ(20deg);
}

.box3{
    position: absolute;
    top: 224px;
    left: 380px;
    width: 100px;
    height: 70px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 40px solid #c5363600;
    transform: rotateZ(20deg);
}
.box4{
    position: absolute;
    top: 298px;
    left: 110px;
    width: 280px;
    height: 70px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 40px solid #97484800;
}
@media screen and (max-height: 800px){
    .image{
        width: 500px;
        height: 400px;
    }
}