h4 {
    text-align: center;
}

.contenedor-oraciones {
    width: 50%;
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

.oracion {
    border: 3px solid silver;
    border-radius: 12px;
    margin: 15px;
    padding: 5px 15px;
}

.oracion:hover {
    border-color: #37D3F7;
}

.oracion span {
    font-size: 1.9rem;
    font-weight: 700;
}

@media(max-height: 640px) {}