.container-two {
  margin: 0 auto;
  max-width: 1300px;
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 2px;
  width: 90%;
}

.grid-item {
  border: 1px solid;
  background-color: rgb(102, 153, 255);
  border-color: rgb(255, 255, 255);
  color: #fff;
  padding: 6px;
  text-align: center;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}
.grid-item img{
  width: 100px;
}
.imageCaballo img{
  width: auto;
  height: 80px;
}
.tc {
  background: rgb(208, 237, 244);
  font-size: 24px;
  font-weight: bold;
  color: #0095da;
  border: none;
}
.tt {
  background-color: rgb(150, 121, 202);
  color: #fff;
  font-weight: bold;
}
.bn {
  border: none;
}
.img {
  height: 60px;
  width: auto;
  margin-left: 1vh;
}

/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.dropdown-content {
  background-color: rgb(236, 236, 236);
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
}

.principal {
  height: 240px;
  width: auto;
  background: #fff;
}
