h4 {
    text-align: center;
}

h5 {
    width: 80%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicio {
    text-align: center;
    padding-top: 50px;
}

.contenedor-x {
    display: inline-block;
    width: 350px;
    height: 300px;
    margin: 5px 7px;
    border: 3px solid silver;
    border-radius: 12px;
}

.contenedor-x span {
    font-weight: 700;
    font-size: 1.6rem;
}

.contenedor-x.uno {
    background-color: rgb(40, 240, 173);
}

.contenedor-x.dos {
    background-color: rgb(255, 230, 0);
}

.contenedor-palabras {
    width: fit-content;
    margin: auto;
    padding: 25px 0;
    display: flex;
}

.brb {
    border-bottom: 2px solid cornflowerblue;
}

span.palabra {
    display: inline-flex;
    width: 140px;
    height: 160px;
    padding: 5px 8px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

span.palabra img {
    max-width: 100%;
    max-height: 100%;
}

span.palabra:hover {
    border-color: #37D3F7;
}

@media(max-width: 1550px) {
    .contenedor-palabras {
        padding-top: 25px;
    }
}

@media(max-height: 640px) {
    .contenedor-ejercicio {
        padding-top: 0px;
    }
    .contenedor-x {
        height: 240px;
    }
    .contenedor-palabras {
        padding-top: 20px;
        text-align: center;
    }
    span.palabra {
        width: 140px;
        height: 142px;
        font-size: 1.6rem;
        padding: 3px 8px;
        margin: 1px 3px;
    }
}