.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}
.grid-options {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.pieza {
    background: #b3e5fc;
    padding: 10px;
    margin: .4vh;
    text-align: center;
    border-radius: 12px;
}
.pieza > span {
    color: red;
    margin-left: .5vh;
    margin-right: .5vh;
}
.grid-contenedor {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}
.contenedor {
    background: #b3e5fc;
    border: 3px solid #81d4fa;
    margin: .4vh;
    text-align: center;
    width: 340px;
    height: 250px;
    border-radius: 12px;
    
}
.contenedor > span {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-left: .5vh;
    margin-right: .5vh;
}