.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 0 17px;
    margin: 1vh;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid silver;
    padding: 5px;
    font-size: 28px;
    text-align: center;
    margin: .5vh;
    width: 160px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    cursor: pointer;
}

h5 {
    width: 85%;
    margin: auto;
}


/* @media (min-width: 1920px) {
    .grid-item {
        width: 300px;
        height: auto;
    }
} */

.grid-item:hover {
    border-color: #37D3F7;
    background: #B6ECFF;
    box-shadow: grey 2px 3px 8px 0px;
}

.img {
    width: auto;
    height: 160px;
}

@media (min-width: 1920px) {
    .img {
        height: 220px;
    }
}

.mes {
    /* background: orange; */
    /* color: #fff; */
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.pto {
    color: cadetblue;
    margin-left: 2vh;
    margin-right: 2vh;
}

.text {
    font-size: 2em;
}


/* *TODO: Bordes */

.c1 {
    border-left: 5px solid chocolate;
}

.c2 {
    border-left: 5px solid orange;
}

.c3 {
    border-left: 5px solid cadetblue;
}

.c4 {
    border-left: 5px solid tomato;
}

.b1 {
    border: 5px solid chocolate;
}

.b2 {
    border: 5px solid orange;
}

.b3 {
    border: 5px solid cadetblue;
}

.b4 {
    border: 5px solid tomato;
}