@media (max-width: 2750px) {
.imgvf {
    background-image: url(../img/2-4/a4.gif);
    background-size: 450px 240px;
    width: 450px;
    height: 240px;
    margin: 5% auto 0;
    background-repeat: no-repeat;
}

.seleccion {
    top: 0;
    position: relative;
    margin: 0% 7% 0;
}


.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;
}
#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    margin-top: auto;
    margin: 0% 34% 0;
}
.recibidores {
   width: 34%;
    position: relative;
    left: auto;
    top: auto;
    margin: 5% auto 0;
}

.item6 {
    font-size: 14px;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
}

}