.container-two {
    margin: 0 auto;
    width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    width: 70%;
}

.grid-item {
    width: 100%;
    border: 1px solid silver;
    padding: 6px;
    text-align: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: rgb(97, 97, 97);
    font-size: 24   px;
}
.rojo{
  color: red;
}
.verde{
    color: green;
}
.naraja{
 color: orangered;
}
.azul{
    color: blue;
}
.br {
    border: none;
}
.tc {
    background:rgb(208, 237, 244);
    font-size: 24px;
    font-weight: bold;
    color: #0095DA;
    border:none;
}
.tt {
    background-color: rgb(161, 0, 161);
    color: #fff;
    font-weight: bold;
}
.bn {
    border: none;
}
.img {
    height: 60px;
    width: auto;
    margin-left: 1vh;
}

/* Select */
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 200px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    height: 3rem;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: auto;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}


.principal {
    height: 240px;
    width: auto;
    background: #fff;
}
@media screen and (max-height: 650px){
    .select-wrapper input.select-dropdown {
        height: 2.5rem;
    }
}