.svg {
    width: 800px;
}

.colores img {
    width: 50px;
    margin: 2vh;
    border-radius: 18%;
}

#contenedorpuzzle {
    width: 80%;
    margin: 10vh auto;
}

.item img {
    width: 250px;
    margin: 3 20px 0;
    float: left;
    border: solid transparent;
}

.item img:hover {
    border: solid;
}

h5 {
    font-size: 200%;
    width: 80%;
}

.img-principal {
    margin: 5vh auto 0;
}

.fila1,
.fila2,
.fila3 {
    margin: 0 auto 2vh;
    width: 1160px;
    box-shadow: 0 0 5px #80808061;
}

.container,
.content-wrapper {
    margin: 3vh auto 0;
}

.fila1 img {
    width: 20vw;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container,
    .content-wrapper {
        margin: 42px auto 0;
    }
}

#imgIzquierda li,
#imgDerecha li {
    width: 250px;
    height: 120px;
    border: 1px solid silver;
    text-align: center;
    display: flex;
    align-items: center;
}

#imgIzquierda li:hover,
#imgDerecha li:hover {
    background-color: silver;
}

#imgIzquierda img,
#imgDerecha img {
    width: 95px;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto!important;
}

#imgDerecha span,
#imgIzquierda span {
    margin: auto;
    font-size: 1.9rem;
    font-weight: 700;
}

.campo {
    float: left;
}

ul {
    margin: 0;
}

@media(max-height: 640px) {
    h5 {
        width: 85%;
    }
}