h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra span {
    font-size: 20px;
    font-weight: 700;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 4px;
    margin-right: 4px;
    border: 3px solid silver;
    border-radius: 12px;
    padding: 0 7px;
}

.ejercicio .contenedor-respuesta span:hover {
    border-color: #37D3F7;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
    }
    .contenedor-ejercicios {
        padding-top: 22px;
        width: 80%;
    }
    .ejercicio .imagen-palabra {
        width: 80px;
    }
    .ejercicio .imagen-palabra img {
        max-height: 125px;
    }
    .contenedor-silabas {
        width: 20%;
        padding-top: 5px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 2%;
    }
}