h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: fit-content;
    margin: auto;
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start; */
}

.contenedor-ejercicios .ejercicio {
    width: fit-content;
    text-align: center;
    padding: 15px 0;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
}

.ejercicio h4 span {
    color: tomato;
    font-weight: 700;
}

.ejercicio p {
    width: fit-content;
    margin: 0 0;
    font-size: 1.6rem;
    margin-top: 20px;
}

p span {
    display: inline-flex;
    width: 250px;
}

span select {
    color: rgb(47, 196, 230);
}

@media(max-width: 1550px) {
    .ejercicio h4 {
        font-size: 2rem;
        margin: 0;
    }
}

@media(max-height: 640px) {
    .contenedor-ejercicios .ejercicio {
        padding: 5px 0;
    }
    .ejercicio h4 {
        font-size: 1.7rem;
    }
    .ejercicio p {
        font-size: 1.5rem;
        margin-top: 14px;
    }
}