.caja-principal {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    padding-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.respuesta{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
.image{
    margin: auto;
    width: 500px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/1.png');
    position: relative;
    z-index: -999;
}
.problemas{
    display: grid;
    align-items: center;
    justify-items: center;
}
.problemas .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.item{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin:5px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}
.item img{
    width: 140px;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.item{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.options{
  height: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.options > div{
  font-weight: 500;
  font-size: 20px;
  border: 2px solid rgb(153, 153, 153);
  padding: 1px 6px;
  border-radius: 40px;
  margin: 10px;
  text-align: center;
}
.extre{
  font-weight: 600;
  font-size: 20px;
  padding: 10px 5px;
}
::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    width: 0px;
  }
  /* Select */
  .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
  }
  .select-wrapper .caret{
      display: none;
  }
  .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
  }
  
  .select-wrapper ul {
    height: auto;
  }
  
  .select-wrapper {
    position: relative;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }
  
  .dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
  }
  

@media screen and (max-height: 690px){
    .image{
        margin: auto;
        width: 600px;
        height: 310px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/1.png');
        position: relative;
        z-index: -999;
    }   
}