.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 92%;
}

.grid-item {
    border: 1px solid rgb(197, 197, 197);
    padding: 6px;
    text-align: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.tc {
    color: rgb(0, 60, 138);
    font-size: 16px;
    font-weight: bold;
}
.tn {
    color: #cc3366;
    font-size: 16px;
    font-weight: bold;
}

.img {
    width: 18px;
    height: auto;
    margin-left: 1vh;
}

/* Select */
.largo2 .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 350px;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}
.largo .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 290px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 300px !important;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}
.select-wrapper .caret{
    display: none;
}
@media screen and (max-height: 800px){
    .largo2 .select-wrapper input.select-dropdown {
        height: 32px;
        font-size: 20px;
    }
    .largo .select-wrapper input.select-dropdown {
        height: 32px;
        font-size: 20px;
    }
    .select-wrapper input.select-dropdown {
        height: 32px;
        font-size: 20px;
    }
    .grid-item {
        padding: 2px;
    }
}