h4 {
    text-align: center;
}

.row .row {
    width: 80%;
    margin: 0 auto;
}

.parrafo p {
    font-size: 1.4rem;
}

.parrafo p span {
    display: inline-block;
    width: 190px;
    height: 40px;
    border: 3px solid silver;
    border-radius: 12px;
    color: transparent;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.6rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}


/**************/

@media(max-height: 640px) {
    .contenedor-silabas {
        padding-top: 0px;
        flex-wrap: wrap;
    }
    .silabas h4 {
        display: inline-block;
        font-size: 1.6rem;
        background-color: #37D3F7;
        font-weight: normal;
        padding: 3px 10px;
        border-radius: 12px;
        margin: 3px;
    }
    .parrafo p {
        margin-top: 0;
    }
}