

@media (max-width: 2750px) {

.imgvf {
    background-image: url(../../img/2-3/a3.gif);
    background-size: 350px 150px;
    width: 350px;
    height: 140px;
    margin: 7% auto 0;
    background-repeat: no-repeat;
}
.seleccion {
    top: 68px;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

}
