    h4 {
        text-align: center;
    }
    
    .contenedor-ejercicios {
        width: 60%;
        padding-top: 30px;
        margin: auto;
    }
    
    .contenedor-ejercicios .contenedor-oracion {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .contenedor-oracion {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    .contenedor-oracion .oracion span {
        font-size: 1.9rem;
    }
    
    .contenedor-oracion .numero {
        width: 60px;
        height: 60px;
        margin-right: 7px;
        border: 3px solid silver;
        border-radius: 12px;
    }
    /************/
    
    .contenedor-silabas {
        display: inline-flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        margin-left: 5%;
    }
    
    .contenedor-silabas .silabas {
        margin: 0px 5px;
    }
    
    .silabas h4 {
        display: inline-block;
        font-size: 1.8rem;
        background-color: #37D3F7;
        font-weight: bold;
        padding: 3px 15px;
        border-radius: 12px;
    }
    /**************/
    
    @media(max-height: 640px) {
        .contenedor-ejercicios {
            width: 80%;
            padding-top: 16px;
        }
    }