.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h5 {
  width: 80%;
}

.title {
  font-size: 1.4em;
  margin-bottom: 1vh;
  font-weight: 600;
}
.parrafo {
  font-size: 1.4em;
  margin-bottom: 1vh;
}
.img {
  width: auto;
  height: 50px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center; */
  align-items: center;
}

.two-grid {
  display: grid;
  grid-template-columns: auto;
}

.ejercicio {
  margin-left: 5vh;
}

.item {
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5vh;
  font-size: 1.6em;
}

.eje-item {
  display: flex;
  font-size: 1.4em;
  /* margin-bottom: 1vh; */
  align-items: center;
}

.s {
  color: red;
  font-size: 1em;
  font-weight: 600;
  margin-right: 1vh;
}
/* Select */

select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 140px;
  padding: 5px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  height: 3rem;
  margin-right: 1vh;
  margin-left: 1vh;
}
