.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
  padding-top: 8vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}



/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid rgb(253, 253, 253);
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0vh;
  margin-right: 0vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 40px;
  border-radius: 2px;
}
