.container-two {
    margin: 0 auto;
    width: 95%;
    padding-top: 12vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 40px;
}
.main__contenedor{
  display: grid;
  justify-self: right;
}
.second__contenedor{
  display: grid;
  justify-self: left;
}
.contenedor .image{
  text-align: center;
  padding-bottom: 2vh;
}
.contenedor .image img{
  width: 600px;
}
.detalles {
  font-size: 18px;
  font-weight: 600;
}
.detalles span{
  display: inline-block;
  margin-left: 20px;
}
.detallesDos {
  color: red;
  font-weight: 600;
  font-size: 20px;
}
.detallesDos span{
  padding-top: 2vh;
  display: inline-block;
  margin-left: 20px;
  }


/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(102, 102, 102);
  width: 60px;
  height: 40px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.select-wrapper input.select-dropdown:focus {
  border: 1px solid rgb(247, 247, 247);
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0vh;
  margin-right: 0vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 90px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 2px;
  text-align: left;
}

@media screen and (max-width: 1400px){
  .contenedor .image{
    display: grid;
    justify-items: center;
  }
  .contenedor .image img{
    width: 500px;
  }
  .detalles, .detallesDos{
    font-size: 16px;
  }
  .select-wrapper input.select-dropdown {
    border: 1px solid rgb(102, 102, 102);
    width: 50px;
    height: 40px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
  }
}