

@media (max-width: 1500px) {
	h5 {
    font-size: 1.0rem;
    margin-bottom: -41px;
    position: fixed;
    top: 62px;
    margin-top: 22px;
    margin: 1% 10% 0;
}
.imgvf {
    background-image: url(../../img/2-6/a6.gif);
    background-size: 400px 240px;
    width: 400px;
    height: 240px;
    margin: 0 auto 0;
    background-repeat: no-repeat;
}

.seleccion {
    top: 0;
    position: relative;
    margin: 0% 7% 0;
}

.logoUnidad {
    width: 55px;
    left: 15px;
    top: 26px;
    position: fixed;
}

.cronometro {
    width: 130px;
    left: 74%;
    top: 26px;
    position: fixed;
}

.botones {
    padding: 0;
    position: fixed;
    top: 87%;
    margin: 0 auto 0;
    width: 100%;
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;
}
#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
        margin: 0% 28% 0;
}
.recibidores {
    width: 45%;
    position: relative;
    left: auto;
    top: auto;
    margin: 5% auto 0;
}

.item6 {
    font-size: 14px;
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;
}

}