.container{
    margin-top: 6vh;
}

#contenedorpuzzle {
    width: 70%;
    margin: 5vh auto;
}

@media (min-width: 1920px) {
    #contenedorpuzzle {
        width: 50%;
        margin: 5vh auto;}
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 3px solid silver; */
    /* padding: 6px 0 0; */
    font-size: 22px;
    text-align: center;
    margin: 6px;
    /* width: 140px; */
    /* height: 145px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    border-radius: 12px;
}
.figura {
    border-radius: 8px;
    border: 3px solid silver;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: transparent;
    margin-left: 1.5vh;
}
.figura-2 {
    /* border-top: 3px solid silver; */
    height: 40%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: transparent;
}
.figura img {
    width: auto;
    height: 70px;
    cursor: pointer;
    border-radius: 8px;
}
.figura-2 img {
    width: auto;
    height: 70px;
    cursor: pointer;
    border-radius: 8px;
}
.figura.p:hover {
    cursor: pointer;
}

/* .grid-item:hover {
    border: 3px solid #37D3F7;
    cursor: pointer;
} */

h5 {
    font-size: 200%;
}

.grid-item img.p-img {
    width: auto;
    height: 80px;
}

