h5 {
    max-width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

p {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
}

.contenedor-ejercicio {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.oraciones {
    width: 50%;
    height: auto;
    text-align: center;
}

.contenedor-rueda {
    width: 50%;
}

.contenedor-imagen {
    width: 75%;
    min-width: 450px;
    position: relative;
}

.contenedor-imagen img {
    max-width: 100%;
}

.dropx {
    position: absolute;
    width: 300px;
    height: 150px;
    margin: auto;
}

.dropx.uno {
    top: 0;
    height: 300px;
    left: calc(50% - 150px);
}

.dropx.dos {
    width: 100%;
    bottom: 0;
    left: 0;
}

.contenedor-rueda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-rueda img {
    max-width: 170px;
    max-height: 170px;
    margin: 0 5px;
    padding: 5px;
}

@media(max-height: 640px) {
    .contenedor-ejercicio {
        padding-top: 20px;
    }
    .dropx.uno {
        height: 200px;
    }
    .dropx.dos {
        height: 170px;
    }
    .contenedor-imagen img {
        max-width: 90%;
    }
}