h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 70%;
    min-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.xd {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.uno {
    width: 193px;
    height: 193px;
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.dos {
    width: 193px;
    height: 188px;
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.tres {
    width: 193px;
    height: 193px;
    background-image: url(../img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.contenedor p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px;
    margin: 0;
}

span.select {
    display: inline-flex;
    width: fit-content;
    margin-left: 4px;
}

span.select select {
    color: rgb(47, 196, 230);
    font-size: 1.6rem;
}

#numeros {
    align-self: center;
}

.contenedor-ejercicios p {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    font-weight: 600;
    font-size: 1.6rem;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        width: fit-content;
    }
    .contenedor p {
        font-size: 1.3rem;
        padding: 2px;
    }
}