.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
}
.image img{
  width: 450px;
  margin-top: 5vh;
}
.preg{
  font-size: 20px;
}
.table p{
  font-size: 20px;
}
.minitable{
  width: 100%;
}
.minitable span{
  display: inline-block;
}
.minitable > div{
  border: 1px solid rgb(228, 228, 228);
  padding: 0px 10px;
}
.title{
  grid-column: 1/3;
  text-align: center;
  background-color: rgb(233, 80, 10);
  color: #fff;
  height: 40px;
  padding: 10px;
}
.title h6{
  font-weight: 600;
}
.subtitle{
  text-align: center;
  background-color: rgb(233, 80, 10);
  color: #fff;
}
.pregunta{
  border: 1px solid #333;
}


@media screen and (max-height: 800px){
  center h5{
    font-size: 20px;
  }
  
}

@media screen and (max-height: 660px){

  .container-two {
    padding-top: 2vh;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
    align-items: center;
  }
  .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 200px;
    margin: 8px 0px!important;
    font-weight: 600;
    font-size: 20px;
    height: 30px!important;
  }
  .image img{
    width: 400px;
  }
  
  .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
  }
  
  .select-wrapper ul {
    height: auto;
  }
  
  .select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
  }
  
  .dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
  }
  
}





/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 200px;
  margin: 12px 0px;
  font-weight: 600;
  font-size: 24px;
  height: 40px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
}
@media only screen and (max-width: 1300px) {
  center h5{
    font-size: 22px;
  }

}
