.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 100%;
}

.grid-item {
    border: 1px solid rgb(102, 153, 255);
    padding: 6px;
    text-align: center;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin: 0.5vh;
}
.grid-item span {
    color: red;
    margin-right: 1vh;
    margin-left: 1vh;
}
.row {
    display: flex;
    align-items: center;
}
.tc {
    background:rgb(208, 237, 244);
    font-size: 24px;
    font-weight: bold;
    color: #0095DA;
    border:none;
}
.tt {
    background-color: rgb(204, 102, 255);
    color: #fff;
    /* font-weight: bold; */
}
.bn {
    border: none;
}
.img {
    height: 60px;
    width: auto;
    margin-left: 1vh;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 0 0;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 200px;
}

.grande .select-wrapper {
    width: 100%;
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

.principal {
    height: auto;
    width: 100%;
    background: #fff;
}