h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 50px;
}

.ejercicio {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta .adivinanza {
    width: 45%;
    text-align: center;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ejercicio .contenedor-respuesta .adivinanza:hover {
    border-color: #37D3F7;
}

.ejercicio .contenedor-respuesta .adivinanza img {
    max-width: 100%;
    width: 140px;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        padding-top: 20px;
    }
    .contenedor-respuesta {
        padding-top: 0;
    }
    .ejercicio-x {
        flex-wrap: nowrap;
    }
    .ejercicio .contenedor-respuesta .adivinanza img {
        width: 100px;
    }
}