.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-ejercicio {
    display: grid;
    grid-template-columns: auto;
    margin: 7vh;
}

/* .grid-ejercicio {
    margin-left: 5vh;
} */

.grid-head {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    /* justify-content: center; */
}

.grid-flechas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: space-around;
}

.grid-respuesta {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 100%;
    justify-content: stretch;
}

.grid-final {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: stretch;
}

.grid-item {
    /* border: 3px solid #37D3F7; */
    padding: 2px;
    font-size: 20px;
    text-align: center;
    /* width: 100%; */
    /* height: 100%; */
    /* margin: 1vh; */
    font-weight: bold;
    color: #000000;
    /* border-radius: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ejercicio {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.ejercicio2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.img {
    width: 300px;
    height: auto;
}

.ml {
    margin-left: 16vh;
}

.ms {
    color: red;
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: bold;
    font-size: 20px;
}

.s {
    font-weight: bold;
    font-size: 20px;
    color: red;
    /* margin-left: 5vh; */
    letter-spacing: 7vh;
}

.w {
    width: 200px !important;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 160px;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 250px;
}

.select-wrapper {
    position: relative;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: auto;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 8px;
}