.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos Generales */
h5 {
    width: 80%;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 2vh;
    justify-content: center;
}

.grid-item {
    border: 1px solid silver;
    margin: 0.2vh;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    width: 300px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor {
    width: 70px;
    height: 40px;
    border: 2px solid silver;
<<<<<<< HEAD:view/exercises/matematica/1-1-13/css/styles.css
    border-radius: 8px;
    margin-right: 2vh;
    margin-left: 2vh;
=======
    border-radius: 12px;
>>>>>>> a62b8f102345509f10fe5fa0dc2b4abe60cd7fd7:view/exercises/matematica/1-1-6/css/styles.css
}
.span-before {
    margin-right: 10px;
}
.span-after {
    margin-left: 10px;
    margin-right: 10px;
}

ul.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
}
li.pieza {
    background: orange;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 1vh;
}
.pieza span {
    font-size: 1.5em;
    font-weight: 500;
}
.flex-box img {
<<<<<<< HEAD:view/exercises/matematica/1-1-13/css/styles.css
    width: auto;
    height: 80px;
=======
    margin-right: 2vh;
    width: auto;
    height: 50px;
>>>>>>> a62b8f102345509f10fe5fa0dc2b4abe60cd7fd7:view/exercises/matematica/1-1-6/css/styles.css
}