h4 {
    text-align: center;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    margin: auto;
}

.ejercicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .contenedor-respuesta {
    width: fit-content;
}

.ejercicio .contenedor-respuesta p {
    width: fit-content;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.ejercicio .contenedor-respuesta p span.silaba {
    display: inline-flex;
    width: fit-content;
    height: 50px;
    border: 3px solid silver;
    background-color: tomato;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    padding: 0 10px;
    margin: 5px;
}

.ejercicio .contenedor-respuesta p span.palabra {
    display: inline-flex;
    width: 90px;
    height: 56px;
    border: 3px solid silver;
    background-color: dodgerblue;
    border-radius: 12px;
    margin: 5px;
    color: transparent;
}

span.celeste {
    color: #37d3f7;
}

@media(max-height: 640px) {
    .ejercicio .contenedor-respuesta p {
        margin: 0;
    }
}