/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {

	height: 100%;
    background-repeat: no-repeat;
    background: url(../img/FONDO300.jpg) no-repeat center center fixed;
    background-size: 100% 100%;

}

.cuadrologin{

	background-color: white;
    position: relative;
    width: 50%;
    height: 500px;
    top: 50px;
    z-index: 2;


}

.form{

	 background-color: #fbd733;
    width: 50%;
    height: 300px;
    position: relative;
    left: 25%;
    top: 80px;
    padding: 10px 0px 0px 50px;
        border-radius: 18px;
        z-index: 3;
}


.imgtop {
    width: 80px;
    position: relative;
    right: 25px;
    top: -40px;
    z-index: 4;
    margin-bottom: -55px;
}

.txtinput{
position: absolute;
}
.textop {
    margin-right: 45px;
}

.icon1{

	margin-right: 15px;
    margin-left: 20px;
}

.icon2{

	margin-right: 31px;
    margin-left: 20px;
}
.btnlogin{

	height: 3rem;
    width: 100%;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 0;
    pointer-events: none;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
    border-radius: 15px;
   
   }


   input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f44336;
    -webkit-box-shadow: 0 1px 0 0 #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.input-field {
    position: relative;
    
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

.input-field.col label {
   
    left: 0rem;
}

.input-field.col label .material-icons {
    text-align: left;
    left: 0rem;
}

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
    border: 2px solid #f44336;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #e4083b;
}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #e4083b;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #fdf7f7;;
    border: 2px solid #e4083b;
    top: 0px;
    left: 10px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 2px solid #e4083b;
    background-color: #e4083b;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
    top: 0;
    left: 11px;
    transform: rotateZ(37deg);   
}

.checklogintxt{

	color:#e4083b;

}


input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: transparent;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  
    width: 90% !important;

    padding-left: 20px !important;
    
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: .52rem 3rem 0.912rem 0;
}

.row {
    
     margin-bottom: 0px;
}



/*   --------------------------2600px-----------------------------------------    */

@media only screen and (max-width: 2600px){
.cuadrologin{

	background-color: white;
    position: relative;
    width: 35%;
    height: 500px;
    top: 50px;
    z-index: 2;


}

.form{

	background-color: #fbd733;
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 80px;
    padding: 10px 0px 0px 50px;
    border-radius: 18px;
}

}


/*   --------------------------1500px-----------------------------------------    */

@media only screen and (max-width: 1500px){
.cuadrologin{

	background-color: white;
    position: relative;
    width: 51%;
    height: 500px;
    top: 50px;
    z-index: 2;


}

.form{

	background-color: #fbd733;
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 80px;
    padding: 10px 0px 0px 50px;
    border-radius: 18px;
}

}


/*   --------------------------1100px-----------------------------------------    */

@media only screen and (max-width: 1100px){
.cuadrologin{

	background-color: white;
    position: relative;
    width: 70%;
    height: 500px;
    top: 50px;
    z-index: 2;


}

.form{

	background-color: #fbd733;
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 80px;
    padding: 10px 0px 0px 50px;
    border-radius: 18px;
}

}


/*   --------------------------900px-----------------------------------------    */

@media only screen and (max-width: 900px){
.cuadrologin{

	background-color: white;
    position: relative;
    width: 90%;
    height: 500px;
    top: 50px;
    z-index: 2;


}

.form{

	background-color: #fbd733;
    width: 50%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 80px;
    padding: 10px 0px 0px 50px;
    border-radius: 18px;
}

}


/*   --------------------------500px-----------------------------------------    */

@media only screen and (max-width: 500px){
.cuadrologin{

	background-color: #ffffffbd;
    position: relative;
    width: 100%;
    height: 500px;
    top: 50px;
    z-index: 2;


}


.form{

	background-color: #fbd733;
    width: 100%;
    height: 350px;
    position: relative;
    left: 0px;
    top: 50px;
    padding: 10px 0px 0px 50px;
    border-radius: 18px;
}

}
