.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 84%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2,1fr);

  /* flex-direction: column; */
}

.imagen img{
  width: 600px;
  height: auto;
}
.item{
  width: 400px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.item img{
  height: 60px;
}
.item div, .item span{
  display: inline-block;
  font-size: 30px;
  color: red;
}




::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}
/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 60px;
  margin: 5;
  font-weight: 400;
  font-size: 24px;
  height: 2.5rem;
}
.select-wrapper .caret{
  display: none;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0vh;
  margin-right: 0vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 90px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 90px;
  border-radius: 12px;
}

@media screen and (max-height: 720px){

}