.container-two {
  padding-top: 10vh;
  margin: 0 auto;
  max-width: 1000px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.fila{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.fila > div {
  font-weight: 600;
  color: #fff;
  width: 100px;
  font-size: 2rem;
  height: 50px;
}
.borders{
  display: grid;
  border: 1px solid #332;
  background-color: rgb(255, 187, 0);
  align-items: center;
  justify-items: center;
}








/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 80px;
  margin: 1 0;
  font-weight: 600;
  font-size: 24px;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 80px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 80px;
  border-radius: 12px;
}

@media screen and (max-width: 1300px){
  .card-pa {
    padding: 14px!important;
  }
  center h5{
    font-size: 24px;
  }
  .container-two h5{
    font-size: 20px;
  }
  .droppable {
    height: 50px;
    margin: 5px 0px;
  }
  .obj{
    padding: 5px;
    background-color:rgb(30, 136, 229);
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
  }
  .fila > div {
    font-weight: 600;
    color: #fff;
    width: 100px;
    font-size: 1.4rem;
    height: 50px;
  }
}
@media screen and (max-height: 780px){
  .container-two {
    padding-top: 6vh;
  }
  .fila > div {
    font-weight: 600;
    color: #fff;
    width: 100px;
    font-size: 2rem;
    height: 43px;
  }
  /* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 80px;
  margin: 1 0;
  font-weight: 600;
  font-size: 24px;
  height: 38px;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 80px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 80px;
  border-radius: 12px;
}

}