.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1000px;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
}
.fila {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.fila > div {
  padding: 5px 20px;
  text-align: center;
}
.borders{
  border: 1px solid rgb(255, 176, 29);
  background-color: rgb(255, 187, 0);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}



/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
  font-weight: 400;
  font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .1vh;
  margin-right: .1vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
}
