.container-two {
  margin: 0 auto;
  max-width: 1280px;
  width: 84%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2,1fr);

  /* flex-direction: column; */
}

.imageUno {
  width: 550px;
  height: 450px;
  background-image: url('../img/1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.imageDos {
  width: 500px;
  height: 500px;
  background-image: url('../img/2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.tabla{
  top: 40px;
  left: 68px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
}
.contenido{
  width: 360px;
  height: 400px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4,1fr);
}
.contenido div{
  width: 40px;
  height: 40px;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
}
@media screen and (max-height: 720px){
  .imageUno{
    height: 390px;
  }
  .imageDos{
    width: 500px;
    height: 340px;
  }
  .tabla{
    top: 10px;
    left: 110px;
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
  }
  .contenido{
    width: 280px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
  }
  .contenido div{
    width: 33px;
    height: 33px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
  }
}