.container-two {
    margin: 0 auto;
    max-width: 880px;
    width: 80%;
    margin-top: 6vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    grid-column-gap: 20px;
}
.contenedor.abajo{
  padding-top: 50px;
}
.filaUno{
  background-image: url("../../../../matematica/2/2/2/img/1/imagenuno.png");
  width: 300px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

}
.box{
  width: 70px;
  padding: 0px 2px;
  height: 40px;
  grid-column: 2/3;
  position: relative;
  left: 0px;
  top: -18px;
}
.filaDos{
  background-image: url("../../../../matematica/2/2/2/img/1/imagendos.png");
  width: 300px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 600;
  font-size: 20px;
}
.box2{
  padding: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  left: 45px;
  top: -5px;
}
.box3{
  padding: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  left: 0px;
  top: -5px;
}
.box4{
  padding: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  left: -30px;
  top: -5px;
}
.filaTres{
  background-image: url("../../../../matematica/2/2/2/img/1/imagentres.png");
  width: 300px;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 600;
  font-size: 20px;
}
.box5{
  width: 70px;
  padding: 0px 2px;
  height: 40px;
  position: relative;
  left: -18px;
  top: 18;
}
.box6{
  padding: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  left: 8px;
  top: 10;
}
.box7{
  width: 70px;
  padding: 0px 2px;
  height: 40px;
  position: relative;
  left: 17px;
  top: 18;
}













/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(233, 233, 233);
  width: 55px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
}

@media screen and (max-width: 1300px){
  .container-two {
    margin: 0 auto;
    max-width: 1180px;
    width: 70%;
    margin-top: 6vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 10vh;
  }
  .filaUno{
    background-image: url("../../../../matematica/2/2/2/img/1/imagenuno.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  
  }
  .box{
    width: 40px;
    padding: 0px;
    height: 40px;
    grid-column: 2/3;
    position: relative;
    left: -12px;
    top: -12px;
  }
  .filaDos{
    background-image: url("../../../../matematica/2/2/2/img/1/imagendos.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 20px;
  }
  .box2{
    padding: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    left: 28px;
    top: -5px;
  }
  .box3{
    padding: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    left: -8px;
    top: -5px;
  }
  .box4{
    padding: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    left: -31px;
    top: -5px;
  }
  .filaTres{
    background-image: url("../../../../matematica/2/2/2/img/1/imagentres.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-weight: 600;
    font-size: 20px;
  }
  .box5{
    width: 70px;
    padding: 0px;
    height: 40px;
    position: relative;
    left: -4px;
    top: 10;
  }
  .box6{
    padding: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    left: -2px;
    top: 4;
  }
  .box7{
    width: 70px;
    padding: 0px 2px;
    height: 40px;
    position: relative;
    left: 6px;
    top: 8;
  }
  .contenedor.abajo{
    padding-top: 0px;
  }
  
/* Select */
.select-wrapper .caret{
  display: none;
}

.select-wrapper input.select-dropdown {
  border: 1px solid rgb(236, 4, 140);
  width: 40px;
  height: 40px;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
  border: 1px solid rgb(241, 2, 134);
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 40px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 40px;
  border-radius: 12px;
}

}