

@media (max-width: 450px) {

	label {
    font-size: 0.7rem;
    color: #424141;
}


h5 {
    font-size: 0.7rem;
    margin-bottom: -41px;
    position: fixed;
    top: 62px;
    margin-top: 22px;
    margin: 4% 9% 0;
}


.cronometro {
    width: 97px;
    left: 68%;
    top: 18px;
    position: fixed;
}	
	.logoUnidad {
    width: 11%;
    left: 15px;
    top: 26px;
    position: fixed;
}
.imgvf {
    background-image: url(../../img/2-7/a7.png);
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
    margin: 5% 23% 0;
    background-repeat: no-repeat;
}

.imgvfi {
    height: 30px;
    width: 30px;
}

.item2 {
    font-size: 11px;
    margin-top: 15px;
    width: 71%;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
    margin: 0 auto 0;
}

.item3 {
    float: left;
       width: auto;
    padding: 0px 0 0 0;
    margin: 0 auto 0;
}

.container, .content-wrapper {
    position: fixed;
    margin: 30% auto 0;
    width: 100%;
    max-width: 100%;
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 0px 0px 0;
    border-radius: 15px;
    float: left;
}
#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    margin: 0% auto 0;
    float: left;
    /* margin-left: auto; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 110px; */
}



#contenedorPuzzle {
    margin-top: -59px;
    border-radius: 10px;
    overflow: hidden;
}

#contenedorPuzzle img {
    float: left;
    padding: 4px 12px 4px 10px;
    width: 80px;
    height: auto;
    position: relative;
    z-index: 10;
}

.seleccion {
    top: 0;
    position: relative;
}
.recibidores {
    position: relative;
    margin: 5% auto 0;
    width: 90%;
    left: auto;
    top: auto;
}

#r1 , #r2, #r3, #r4, #r5 {
    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
.pieza {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
        padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
    margin: 0 0px 0;
}
.piezag {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 1px;
    margin-left: 0;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}
.pieza{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}
.pato{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.oveja{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.gallina{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}


.vaca{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.botones {
    padding: 0px;
    position: fixed;
    top: 91%;
    left: 4%;
    margin: 0 auto;
    width: 90%;
}
.btnEnviar {
    width: 100px;
}

.btnCorregir {
    width: 90px;
    position: relative;
}

.btnSiguiente {
    width: 90px;
    position: relative;
}

}

