
@media (max-width: 1100px) {



#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
    width: 310px;
    /* min-width: 346px; */
         background-color: #f2f0ff40;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: 29px;
    margin: 0 20%;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
}


.imgvf {
        background-image: url(../img/2-3/a3.gif);
    background-size: 380px 160px;
    width: 380px;
    height: 160px;
    margin: 0% auto 0;
    background-repeat: no-repeat;
}

.item3 {
    float: left;
    width: 100%;
    padding: 0;
}

.seleccion {
    top: auto;
    position: relative;
    margin: 0% 7% 0%;
}


}
