.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
    grid-template-columns: auto auto auto auto;
=======
    grid-template-columns: auto auto;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
    padding: 10px;
    width: 80%;
}

.grid-item {
    border: 1px solid silver;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
    padding: 0 0 12px 0;
    margin: 2vh;
    font-size: 30px;
=======
    padding: 6px;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
    text-align: center;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
=======

.tc {
    background:rgb(206, 233, 184);
    font-size: 24px;
    border-color: rgb(153, 204, 51);
}
.tt {
    background-color: rgb(153, 204, 102);
    border-color: rgb(255, 255, 255);
    font-weight: bold;
}
.bn {
    border: none;
}
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
.img {
    height: 50px;
    width: auto;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
    height: 267px;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mg {
    margin-right: 10px;
    margin-left: 10px;
    color: red;
=======
    margin-left: 1vh;
    background: #fff;
}
@media (min-width: 1920px) {
    .img {
        height: 110px;
    }
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
}

/* Select */
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 90px;
    margin: 0;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
=======
    font-weight: 600;
    font-size: 24px;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 300px;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-13/css/styles.css
=======
}
.principal {
    height: 240px;
    width: auto;
    background: #fff;
}
@media (min-width: 1920px) {
    .principal {
        height: 300px;
        width: auto;
    }
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-5/css/styles.css
}