

@media (max-width: 800px) {


.cronometro {
    width: 130px;
    left: 74%;
    top: 26px;
    position: fixed;
}
.recibidores {
    position: relative;
    margin: 0 16%;
    width: 100%;
    left: auto;
}
.imgvf {
    background-image: url(../img/2-2/a2.gif);
    background-size: 290px 140px;
    width: 290px;
    height: 140px;
    margin: 6% auto 0;
    background-repeat: no-repeat;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 8% 0;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
}

#v , #f {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;

    width: 100%;

    min-width: 100%;
       background-color: #f2f0ff40;
}

}

 @media only screen and (max-width:680px) and (orientation:landscape){

    .imgvf {
    background-image: url(../img/2-2/a2.gif);
    background-size: 150px 80px;
    width: 150px;
    height: 100px;
    margin: 3% auto 0 0;
    background-repeat: no-repeat;
    position: relative;
    top: 102px;
}


.contenedorimg {
    border: solid 1px #dcdcdcf7;
    width: 8%;
    height: auto;
    margin: 0px 10px 0;
    border-radius: 15px;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 62%;
    height: 50;
    float: left;
    margin: 0% 8% 0;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
    position: relative;
    top: -93px;
    left: 131px;
}

        #ta {
    color: #FF8C00;
    font-size: 160%;
              }

        #ti {
    color: #800080;
     font-size: 160%;
                }

        #te {
    color: #40E0D0;
     font-size: 160%;
                }

#contenedorPuzzle img {
    float: left;
    padding: 0% 0% 0% 1%;
    width: 100%;
    height: 33px;
    position: relative;
    z-index: 10;
}


        .recibidores {
    position: relative;
    margin: 0 16% 0;
    width: 100%;
    left: auto;
    top: -98px;
    left: 79px;
}


    }