.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.grid-container {
    display: grid;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-7/css/styles.css
    grid-template-columns: auto;
=======
    grid-template-columns: auto auto auto auto auto auto;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-4/css/styles.css
    padding: 10px;
    justify-content: center;
}
@media (min-width: 1920px){
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}
.grid-item {
    align-items: center;
    /* border: 1px solid silver; */
    padding: 10px;
    margin: .2vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img {
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-7/css/styles.css
    width: 60%;
    height: auto;
=======
    width: auto;
    height: 150px;
    margin-bottom: 1vh;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-4/css/styles.css
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD:view/exercises/matematica/reserva1-2-7/css/styles.css
=======
    flex-direction: column;
>>>>>>> 2d3a9ce57621caf19b26524197821367e720313d:view/exercises/matematica/1-3-4/css/styles.css
}

.mg {
    margin-right: 10px;
    margin-left: 10px;
    color: red;
}

.select-wrapper ul {
    height: 300px !important;
}


.select-wrapper input.select-dropdown {
    border: 1px solid #0095DA;
    width: 90px;
    margin: 0;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #0095DA;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}


.pregunta {
    font-size: 22px;
}