.container-two {
  margin: 0 auto;
  max-width: 1300px;
  width: 80%;
  height: 70%;
  display: grid;
  grid-template-columns: 4fr 8fr;
  justify-items: center;
  align-items: center;
}
.columnaUno {
  grid-column: 1/2;
}
.columnaUno img{
  width: 500px;
}
.columnaDos {
  grid-column: 2/3;
}
::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
  width: 90%;
}

.grid-item {
  border: 1px solid silver;
  padding: 6px;
  text-align: center;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.grid-item img{
  width: 100px;
}
.imageCaballo img{
  width: auto;
  height: 80px;
}
.tc {
  background: rgb(208, 237, 244);
  font-size: 24px;
  font-weight: bold;
  color: #0095da;
  border: none;
}
.tt {
  background-color: rgb(150, 121, 202);
  color: #fff;
  font-weight: bold;
}
.bn {
  border: none;
}
.img {
  height: 60px;
  width: auto;
  margin-left: 1vh;
}
.he{
  background-color: rgb(0, 153, 255);
  padding: 0px auto!important;
  color: #fff;
  height: 42px;
}
.he h6{
  font-weight: 600;
  font-size: 22px;
}

/* Select */
.select-wrapper input.select-dropdown {
  border: 1px solid silver;
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}
.select-wrapper .caret{
  display: none;
}
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid silver;
}

.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.dropdown-content {
  background-color: rgb(236, 236, 236);
  margin: 0;
  display: none;
  min-width: 20px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 10px;
  border-radius: 12px;
}

.principal {
  height: 240px;
  width: auto;
  background: #fff;
}
@media (min-width: 1920px) {
  .principal {
    height: 300px;
    width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .container-two {
    margin: 0 auto;
    max-width: 1300px;
    width: 85%;
    height: 70%;
    display: grid;
    padding-top: 6vh;
    grid-template-columns: 4fr 8fr;
    justify-items: center;
    align-items: center;
  }
  .columnaUno img {
    width: 500px !important;
  }
}
@media screen and (max-height: 650px) {
  .container-two {
    margin: 0 auto;
    max-width: 1300px;
    width: 85%;
    height: 70%;
    display: grid;
    padding-top: 3vh;
    grid-template-columns: 4fr 8fr;
    justify-items: center;
    align-items: center;
  }
  .columnaUno img {
    width: 500px !important;
  }
  .grid-container {
    display: grid;
    grid-template-columns:2fr 2fr 2fr;
    padding: 2px;
    width: 100%;
  }
  .grid-item {
    padding: 1px 6px;
  }
    .ultimo {
    padding: 6px;
  }
  /* Select */
  .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 100%;
    height: 45px;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
  }

  .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
  }

  .select-wrapper ul {
    height: auto;
  }

  .select-wrapper {
    position: relative;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }

  .dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 1300px){
  .container-two{
    grid-column-gap: 30px;
  }
  .columnaUno img{
    width: 400px;
  }
  .he{
    height: 30px!important;
  }
}
@media screen and (max-height: 800px){
  .columnaUno img{
    width: 350px!important;
  }
  .grid-item{
    height: 70px;
  }
  .grid-item img{
    width: 70px;
  }
  .imageCaballo img{
    height: 60px;
    width: auto;
  }
}
