.container-two {
  margin: 0 auto;
  max-width: 1300px;
  width: 85%;
  height: 70%;
  display: grid;
  grid-template-columns: 2fr;
  justify-items: center;
  align-items: center;
}
.content{
  width: 100%;
  display: grid;
  grid-template-columns:4fr;
  align-items: center;
  justify-items: center;
}
.image img{
  width: 450px;
}
.items{
  display: grid;
  grid-template-columns: 2fr 2fr ;
  justify-content: center;
  align-items: center;
}
.item{
  border: 3px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
.item img{
  width: 120px;
}