

@media (max-width: 1500px) {
h5 {
    font-size: 1.6rem;
    margin-bottom: -41px;
    position: fixed;
    top: 62px;
    margin-top: 22px;
    margin: 0 21% 0;
}
.logoUnidad {
    width: 5%;
    left: 15px;
    top: 26px;
    position: fixed;
}
#contenedorPiezas {
    background: #5561ff00;
    /* width: 652px; */
    height: auto;
    float: left;
    margin-left: 211px;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 80px;
    margin: 0 28% 0;
}

#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
    width: 100%;
    min-width: 100%;
}


.botones {
    padding: 0px;
    position: fixed;
    top: 91%;
    left: 4%;
    margin: 0 auto;
    width: 90%;
}
.imgvf {
    background-image: url(../../img/2-3/a3.gif);
    background-size: 345px 140px;
    width: 350px;
    height: 140px;
    margin: 9% auto 0%;
    background-repeat: no-repeat;
}
.seleccion {
    top: auto;
    position: relative;
    margin: 0% 5% 0;
}
}
