.container-two {
    padding-top: 14vh;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.image {
    width: 800px;
    height: 400px;
    background-image: url('../img/1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.box {
    position: absolute;
    bottom: 5px;
}

.boxuno {
    left: 90px;
}

.boxdos {
    left: 290px;
}

.boxtres {
    left: 550px;
}


/*SELECT*/

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 80px;
    margin: 12px 0px;
    font-weight: 400;
    font-size: 24px;
    height: 40px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: auto;
}

.select-wrapper .caret {
    display: none;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 1300px) {
    .content {
        grid-column-gap: 40px;
    }
    .image img {
        height: 180px;
    }
}

@media(max-height: 640px) {
    .container-two {
        padding-top: 0!important;
    }
}