.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 130px;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 260px;
}

.select-wrapper {
    position: relative;
    /* margin-left: .5vh;
    margin-right: 8vh;
    margin-bottom: 1vh; */
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 130px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

.img {
    width: auto;
    height: 173px;
    /* margin-top: 2vh; */
}

@media (min-width: 1920px) {
    .img {
        width: auto;
        height: 400px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
    margin-top: 1vh;
    justify-content: center;
}

.grid-item {
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja {
    width: 50px;
    height: 50px;
    border: 2px solid silver;
    border-radius: 12px;
}

.span-before {
    margin-right: 10px;
}

.span-after {
    margin-left: 10px;
    margin-right: 10px;
}

ul.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
}

li.pieza {
    background: orange;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: 1vh;
}

.pieza span {
    font-size: 1.5em;
    font-weight: 500;
}

.flex-box img {
    width: auto;
    height: 50px;
}

.num {
    color: #cc0066;
    margin-right: 10px;
}

.text {
    font-size: 1.3em;
}