

@media (max-width: 450px) {
    .recibidor {
    width: 100%;
}

	label {
    font-size: 0.7rem;
    color: #424141;
}

h4 {
    font-size: 1.28rem;
    margin: 0 6%;
    /* margin-top: -5px; */
    /* left: 18px; */
    /* margin-bottom: 0; */
    position: fixed;
}

.cronometro {
    width: 97px;
    left: 68%;
    top: 18px;
    position: fixed;
}	
	.logoUnidad {
    width: 11%;
    left: 15px;
    top: 26px;
    position: fixed;
}

.container, .content-wrapper {
    /* margin-top: 197px; */
    max-width: 100%;
    position: fixed;
    margin: 22% auto;
    /* left: auto; */
}


.contenedorimg {
       border: solid 1px #dcdcdc00;
    width: auto;
    height: 59px;
    margin: 5px;
    border-radius: 15px;
}


#contenedorPiezas {
    background: #5561ff00;
    width: auto;
    height: 242px;
    margin: 104px 6% 0;
    float: left;
    /* margin-left: auto; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 110px; */
}

#contenedorPuzzle {
    margin-top: -59px;
    border-radius: 10px;
    overflow: hidden;
}

#contenedorPuzzle img {
    float: left;
    padding: 4px 12px 4px 10px;
    width: 80px;
    height: auto;
    position: relative;
    z-index: 10;
}

.caballo {
    height: 61px !important;
    /* margin-top: -2px; */
    margin: 0 20%;
    width: 60px !important;
}



#uno, #dos, #tres {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
    /* border: #25252591 solid 2px; */
       width: 100%;
    height: auto;
        min-height: 190px;
    min-width: auto;
}


.botones {
    padding: 0px;
    position: fixed;
    top: 91%;
    left: 4%;
    margin: 0 auto;
    width: 90%;
}
.btnEnviar {
    width: 100px;
}

.btnCorregir {
    width: 90px;
    position: relative;
}

.btnSiguiente {
    width: 90px;
    position: relative;
}
}

