.container-two {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 8vh;
    width: 80%;
}
center h5{
    width: 80%;
    font-size: 25px;
    padding-bottom: 2vh;
    line-height: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.imageContainer img{
    width: 480px;
}
.grid-item {
    border: 1px solid silver;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.containerPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.columnaUno{
    grid-column: 1/2;
    grid-row: 1/3;
}
.imageContainer {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.columnaDos {
    text-align: center;
    grid-column: 2/3;
    grid-row: 2/3;
}
#columnaDos .title{
    font-weight: 600;
    margin: 10px 0px;
}
#columnaDos .title span{
    color: rgb(6, 105, 219);
}
.img {
    width: auto;
    height: 100px;
}
.bn {
    border: none;
    padding: 0;
}
.hd{
    background-color: rgb(0, 140, 255);
    color: #fff;
}
.item h6{
    font-size: 25px;
    padding-top: 0;
    margin: 0;
}
.hd h6{
    margin: 10px;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 4px;
}
.ter{
    width: 2px;
    height: 5px;
    rotate: 90deg;
    position: relative;
    bottom: 30px;
    right: -20px;
    border: 3px solid rgb(207, 33, 33);
}
.fan{
    width: 2px;
    height: 5px;
    rotate: 90deg;
    position: relative;
    bottom: 30px;
    right: -20px;
    border: 3px solid rgb(207, 33, 33);
}
.rom{
    width: 6px;
    height: 5px;
    rotate: 90deg;
    position: relative;
    bottom: 22px;
    right: -20px;
    border: 3px solid rgb(207, 33, 33);
}
.flotando{
    position: relative;
    bottom: -15px;
}
.flotanteBajo{
    position: relative;
    bottom: -50px;
    line-height: 14px;
}
.row{
    margin: 0px;
    text-align: center;
}

 /*TABLE CONAINER*/

 .table{
     display: grid;
     border: 1px solid rgb(9, 144, 255);
     grid-template-columns: 1fr 1fr;
 }
.item{
    text-align: center;
    border: 1px solid rgb(9, 144, 255);
    display: grid;
    align-items: center;
}

 /* Select */
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 80%;
    margin: 10px auto;
    font-weight: 600;
    font-size: 24px;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: auto;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 20px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 10px;
    border-radius: 12px;
}

@media screen and (max-width: 1300px){
    center{
        width: 100%;
        margin: auto;
    }
    center h5{
        text-align: center;
        width: 80%;
        position: relative;
    }
    .container-two{
        margin-top: 0vh!important;
    }
}

@media screen and (max-height: 768px){
    center{
        width: 100%;
        margin: auto;
    }
    center h5{
        text-align: center;
        width: 80%;
        position: relative;
    }
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        padding-top: 2vh;
        width: 80%;
    }
}

@media screen and (max-height: 650px){
    center{
        width: 100%;
        margin: auto;
    }
    center h5{
        text-align: center;
        width: 80%;
        position: relative;
        padding-bottom: .5vh;
    }
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        padding-top: 0vh;
        width: 80%;
    }
    .imageContainer img {
        width: 400px;
    }
    .select-wrapper input.select-dropdown {
        border: 1px solid silver;
        width: 80%;
        margin: 3px auto
    }
    .grid-item {
        width: 25px;
        height: 25px;
    }
    .hd h6 {
        margin: 5px;
    }
}