.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

.select-wrapper ul {
    height: 300px !important;
}

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin: 0 4vh;
}

.grid-num {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    position: relative;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grid-tabla {
    display: grid;
    grid-template-columns: auto auto auto;
}

.total {
    width: 50px;
    height: 50px;
    border: 1px solid silver;
    margin: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb {
    border-bottom: 3px solid #FF0000;
    margin-bottom: 2vh;
}

.ms {
    right: -16px;
    position: absolute;
    top: 16px;
    color: red;
    font-weight: bold;
    font-size: 1.6rem;
}
h6 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}