.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

h5 {
    max-width: 85%;
    margin: auto;
}

.vertical {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
    width: 100%;
    justify-content: center;
}

.grid-canva {
    display: grid;
    grid-template-columns: auto;
    /* padding: 10px; */
    width: 100%;
    justify-content: center;
}


/* #micanvas {
  width: 100%;
  height: 95px;
} */

.grid-item-a {
    border: 2px solid cornflowerblue;
    /* padding: 20px; */
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3vh;
    border-radius: 4px;
    width: 300px;
    height: 120px;
}

.grid-item-b {
    border: 2px solid cornflowerblue;
    /* padding: 20px; */
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3vh;
    border-radius: 4px;
    width: 500px;
    height: 95px;
}

.caja {
    /* border: 1px solid blue; */
    color: orange;
    font-weight: bold;
    /* width: 100px;
  height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: auto;
}

.principal {
    width: 210px;
    height: auto;
}

.img-cen {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-a {
    width: 250px;
    height: auto;
}

span.uno,
span.dos,
span.tres {
    position: relative;
}

span.uno::after {
    content: '1';
}

span.dos::after {
    content: '2';
}

span.tres::after {
    content: '3';
}

span.uno::after,
span.dos::after,
span.tres::after {
    position: absolute;
    bottom: -4;
    font-size: 10px;
    right: -5;
}

@media( max-height: 640px) {
    .grid-item-b {
        width: 548px;
        height: 76px;
    }
}