.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.contentBox{
  display: grid;
  grid-template-columns: 1fr;
}
.fila{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-bottom: 10px;
}
.cajaFila{
  width: 100px;
  height: 60px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 28px;
  border: 1px solid rgb(241, 241, 241);
}
.droppable{
  background-color: rgba(136, 136, 255, 0.199);
  transition: all .3s ease-in-out;
}
.droppable:hover{
  background-color: rgba(255, 255, 255, 0.178);
  transition: all .3s ease-in-out;
}
.optionBox{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.pieza{
  padding: 10px;
  border: 1px solid rgb(233, 233, 233);
  margin: 4px 10px;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-height: 650px){
  .container-two {
    padding-top: 8vh;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-items: center;
    align-items: center;
  }
  .optionBox{
    margin-top: 0vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .pieza{
    padding: 6px;
    border: 1px solid rgb(219, 219, 219);
    margin: 4px 8px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
  }
  .cajaFila{
    width: 80px;
    height: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    border: 1px solid rgb(241, 241, 241);
  }
}
