.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

/* Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 250px;
}

.select-wrapper {
    position: relative;
    margin: 0px 1vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: auto;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 8px;
}

.select-wrapper input.select-dropdown {
    height: 2.5rem;
}

.tabs .tab a {
    color: rgba(0, 149, 218, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
}
.tabs .tab a.active {
    background-color: rgba(0, 149, 218, 0.1);
    color: #0095DA;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 149, 218, 0.1);
    outline: none;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0095DA;
    will-change: left, right;
}


/* Estilos generales */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.grid-respuesta {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.grid-respuesta2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.grid-item {
    /* border: 1px solid tomato; */
    margin: 0.3vh;
    padding: 2vh;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 500;
    margin: 1vh;
}

.test {
    border-bottom: 2px dashed #0095DA;
    border-left: 2px dashed #0095DA;
    border-right: 2px dashed #0095DA;
    width: 100%;
    height: auto;
}

.total {
    width: 40px;
    height: 40px;
    border: 1px solid silver;
    margin: 0.4vh;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: auto;
    height: 100px;
}

.s {
    color: #0095DA;
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: bold;
    font-size: 20px;
}

.so {
    color: orange;
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: bold;
    font-size: 20px;
}
h5 {
    width: 80%;
    font-size: 140%;
}
.mb {
    margin-bottom: 2vh;
    font-size: 1.2rem; 
}