h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
}

.ejercicio .contenedor-respuesta span {
    display: block;
    font-size: 1.9rem;
    padding-top: 7px;
}

span select {
    color: rgb(29, 131, 214);
    text-align: center;
    padding: 0px 5;
}

span select option {
    text-align: center;
}

span.selectx {
    display: inline-flex;
    width: 50px;
    font-size: 1.4rem;
    font-weight: 600;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
    padding-top: 40px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 11px;
    border-radius: 12px;
}

.palabrax h4 {
    margin: 0;
    padding: 0;
}


/**************/

@media(max-height: 640px) {
    .ejercicio .contenedor-respuesta span {
        font-size: 1.7rem;
    }
    .ejercicio .imagen-palabra img {
        max-height: 117px;
    }
}