h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}

.ejercicio {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 450px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.ejercicio .contenedor-respuesta {
    display: flex;
    width: fit-content;
    padding: 15px;
    align-items: center;
}

.ejercicio .contenedor-respuesta p {
    font-size: 1.8rem;
}

span.palabra {
    display: inline-flex;
    width: 150px;
    height: 60px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 5px;
    color: transparent;
}


/************/

.contenedor-palabras {
    display: inline-flex;
    justify-content: center;
}

.contenedor-palabras .palabra-x {
    padding: 7px 15px;
    font-size: 1.4rem;
    color: white;
    background-color: tomato;
    margin: 0px 5px;
    border: 3px solid silver;
    border-radius: 12px;
    font-weight: 700;
}


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
        align-items: center;
        width: 90%;
    }
    .contenedor-silabas {
        width: 30%;
        flex-wrap: wrap;
        justify-content: start;
    }
    .silabas {
        text-align: center;
    }
    .silabas h4 {
        margin: 10px;
    }
    .contenedor-ejercicios {
        width: 70%;
        padding-top: 0px;
    }
    .ejercicio .imagen-palabra {
        width: 350px;
    }
    .ejercicio .contenedor-respuesta {
        padding: 0;
        padding-top: 5px;
    }
}