.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.cajas {
  height: 100px;
  display: grid;
  align-items: center;
}
.cajas h4 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}
.checkboxMa {
  margin-top: 30px;
}
.checkboxMa label {
  margin: 0px 10px;
}
.row {
  margin: 20px !important;
  border-radius: 10px;
}

@media only screen and (max-height: 600px) {
  .cajas{
    height: 60px;
  }
}

@media only screen and (max-width: 1300px) {
  center h5{
    font-size: 22px;
  }
  .container-two {
    padding-top: 10vh;
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
  }
  .cajas {
    height: 60px;
    display: grid;
    align-items: center;
  }
  .blue{
    background-color: rgba(47, 47, 201, 0.384);
  }
  .cajas h4 {
    margin: 0;
    font-size: 20px;
  }
  .cajas .checkboxMa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .checkboxMa {
    height: 100%;
    margin: auto;
  }
  .checkboxMa label {
    margin: 0px 10px;
  }
  .row {
    margin: 20px !important;
    border-radius: 10px;
  }
}
