.box-img {
    width: 58%;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
}

.box-img img {
    width: 70%;
    margin: 0 auto;
}

@media(max-height: 640px) {
    .box-img img {
        width: 65%;
    }
}