.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

img.img-principal {
    max-width: 380px;
    height: auto;
    margin-top: 2vh;
}


 @media (min-width: 1920px) {
    img.img-principal {
        width: auto;
        height: auto;
    }
} 

.cajas{
    height: 80px;
}
.caja{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
img.img-principal .uno{
    margin-right: 200px!important;
}
img.img-principal .dos{
    margin-left: 200px;
}
.palabras{
    height: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.palabra{
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    -moz-user-select: none;
}
.pieza:hover{
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
}