.caja-principal {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.title {
    font-size: 28px;
    color: #37D3F7;
}

.conjuntos{
    margin-top: 4%;
    display: grid;
}
.conjuntos img{
    width: 35vw;
    height: 42vh;
    height: auto;
}
.conteCajas{
    width: 80%;
    text-align: center;
}
.cajas{
    margin-top: 20px;
    margin: 0px 50px;
    height: 60px;
    background-color: rgb(219, 219, 219);
}
.opcion{
    margin:  0px 50px;
    background-color: rgb(16, 189, 241);
    border-radius: 20px;
    height: 50px;
}
.opcion h5{
    font-size: 24px;
    padding: 10px;
}

