.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h5 {
    max-width: 85%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}

.grid-preguntas {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}

.grid-pregunta {
    /* margin: 4vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    flex-direction: column;
}

.pregunta {
    width: 269px;
    margin-bottom: 2vh;
    margin-right: 4vh;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}


/* .option {
    margin-bottom: 3vh;
} */

.caja {
    /* width: 500px; */
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-weight: bold;
    color: orange;
}

.txtopt {
    font-size: 1.8em !important;
}

.al {
    color: #0095DA;
    margin-right: 1vh;
}

.text {
    font-size: 1.5em;
    text-align: justify;
}

.principal {
    width: auto;
    height: 130px;
    margin-bottom: 4vh;
    background: #ffffff;
}

@media (min-width: 1920px) {
    .principal {
        width: auto;
        height: 250px;
        margin-bottom: 4vh;
    }
}

.ro {
    background: rgb(255, 204, 204);
    padding: 0 12px;
    margin-bottom: 3vh;
}

.az {
    background: rgb(204, 255, 255);
    padding: 0 12px;
    margin-bottom: 3vh;
}

.c1 {
    color: #999;
    font-weight: normal;
}

.c1::before {
    border-right: 2px solid silver !important;
    border-bottom: 2px solid silver !important;
    border-left: 2px solid silver !important;
    border-top: 2px solid silver !important;
    border-radius: 50% !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #26a69a !important;
    border-bottom: 2px solid #26a69a !important;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    border-radius: 0px !important;
}

.img {
    width: auto;
    height: 20px;
    margin-right: 2vh;
    margin-left: 2vh
}

.img-o {
    width: auto;
    height: 45px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}

.text {
    font-weight: bold;
}