

.imgvf {
    background-image: url(img/2-7/a7.gif);
    background-size: 450px 240px;
  
    width: 450px;
    height: 240px;
    margin: 0 auto;
    background-repeat: no-repeat;
   
}


    .contenedorimg {
    border: solid 1px #dcdcdc00;
    width: 138px;
    height: 0;
    margin: 5px;
    border-radius: 15px;
}


.contenedorPieza {
    width: 80px;
    height: auto;
    height: 31px;
    float: left;
}


#contenedorPiezas {
    background: #5561ff00;
    /* width: 652px; */
    height: 242px;
    float: left;
    margin-left: 179px;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 113px;
}

.line{

    margin-bottom: 30px;
}

.item8{

    
    font-size: 24px;    
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;
}
.item7{

   
        float: left;
    width: 25px;
}
.item6{

    
    font-size: 24px;    
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;
}
.item5{

        float: left;
   
    /* padding: 13px; */
}
.item4{

    font-size: 24px;    
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;
}

.item3{

    float: left;
   
    
}
.item2{
    font-size: 24px;
     
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;
}
.item1{
 
    float: left;
 
}


#r1{

    border-radius: 5px;
    float: left;
 width: 602px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;

}

#r2{
    border-radius: 5px;
    float: left;
       width: 240px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
  
}

#r3{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;

}
#r4{
       border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;

}
#r5{
       border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;

}

.pieza{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 56px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}
.pato{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 48px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.oveja{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 46px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.gallina{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 43px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}


.vaca{
        margin: 6px;
        border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 48px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.piezag {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 18px;
      margin-left: -5px;
    margin-right: 7px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}
.recibidores{

         position: relative;
    left: 174px;
    top: 120px;
}

@media only screen and (max-width: 450px){


    label {
    font-size: 0.7rem;
    color: #424141;
}


.imgvf {
    background-image: url(../img/2-7/a7.gif);
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
    margin: 11% 23% 0;
    background-repeat: no-repeat;
}

.imgvfi {
    height: 30px;
    width: 30px;
}

.item2 {
    font-size: 11px;
    margin-top: 15px;
    width: 71%;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
    margin: 0 auto 0;
}

.item3 {
    float: left;
    width: 100%;
    padding: 0px 0 0 0;
    margin: 0 auto 0;
}

.container, .content-wrapper {
    position: fixed;
    margin: 30% auto 0;
    width: 100%;
    max-width: 100%;
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 0px 0px 0;
    border-radius: 15px;
    float: left;
}
#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    margin: 0% 6% 0;
    float: left;
    /* margin-left: auto; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 110px; */
}



#contenedorPuzzle {
    margin-top: -59px;
    border-radius: 10px;
    overflow: hidden;
}

#contenedorPuzzle img {
    float: left;
    padding: 4px 12px 4px 10px;
    width: 80px;
    height: auto;
    position: relative;
    z-index: 10;
}

.seleccion {
    top: 0;
    position: relative;
}
.recibidores {
    position: relative;
    margin: 0 auto 0;
    width: 90%;
    left: auto;
    top: auto;
}

#r1 , #r2, #r3, #r4, #r5 {
    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
    
}
.pieza {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
        padding: 2px 32px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
    margin: 0 0px 0;
}
.piezag {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 3px 1px;
    margin-left: 0;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

}


@media (max-width: 2750px) {


.container, .content-wrapper {

    position: fixed;
    margin: 7% auto 0;
    width: 100%;
    max-width: 100%;

}

.imgvf {

    background-image: url(../img/2-7/a7.png);
    background-size: 450px 240px;
    width: 450px;
    height: 240px;
    margin: 0% auto 0;
    background-repeat: no-repeat;

}

.seleccion {

    top: 0;
    position: relative;
    margin: 0% 7% 0;

}

.contenedorimg {

    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;

}
#contenedorPiezas {

    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
    margin: 0% 10% 0;

}

.recibidores {

        width: 40%;
    position: relative;
    left: auto;
    top: auto;
    margin: 0 auto 0;

}

.item6 {

    font-size: 14px;
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;

}

}




/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////     */




@media (max-width: 1500px) {


.container, .content-wrapper {

    position: fixed;
    margin: 8% auto 0%;
    width: 100%;
    max-width: 100%;

}

.imgvf {

    background-image: url(../img/2-7/a7.png);
    background-size: 300px 140px;
    width: 300px;
    height: 140px;
    margin: 0 auto 0;
    background-repeat: no-repeat;

}

.seleccion {

    top: 0;
    position: relative;
    margin: 0% 7% 0;

}

.contenedorimg {

    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;

}

#contenedorPiezas {

    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
    margin: 0% 10% 0%;

}
.recibidores {

    width: 45%;
    position: relative;
    left: auto;
    top: auto;
    margin: 0% auto 0;

}

.item6 {

    font-size: 14px;
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;

}


#r1 {

    border-radius: 5px;
    float: left;
    width: 89%;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    background-color: #f2f0ff40;

}


}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////     */

@media (max-width: 1100px) {


.imgvf {

    background-image: url(../img/2-7/a7.png);
    background-size: 300px 140px;
    width: 300px;
    height: 140px;
    margin: 0 auto 0;
    background-repeat: no-repeat;

}

.container, .content-wrapper {

    position: fixed;
    margin: 11% auto 0%;
    width: 100%;
    max-width: 100%;

}
.seleccion {

    top: 0;
    position: relative;
    margin: 0% 7% 0;

}

.contenedorimg {

    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;

}

#contenedorPiezas {

    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
    margin: 0% 10% 0;

}

.recibidores {

    width: 63%;
    position: relative;
    left: auto;
    top: auto;
    margin: 5% auto 0;

}


.item6 {

    font-size: 14px;
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;

}

}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////     */



@media (max-width: 800px) {
 

.container, .content-wrapper {

    position: fixed;
    margin: 15% auto 0;
    width: 100%;
    max-width: 100%;

}

.imgvf {

    background-image: url(../img/2-7/a7.png);
    background-size: 250px 140px;
    width: 250px;
    height: 140px;
    margin: 0% auto 0;
    background-repeat: no-repeat;

}

.seleccion {

    top: 0;
    position: relative;
    margin: 0% 7% 0;

}


.contenedorimg {

    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 15px;
    float: left;

}

#contenedorPiezas {

    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin-left: auto;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: auto;
    margin: 0% 9% 0;

}


.recibidores {

    width: 85%;
    position: relative;
    left: auto;
    top: auto;
    margin: 5% 7% 0;

}
.item6 {

    font-size: 14px;
    float: left;
    /* padding: 0px; */
    margin-left: 28px;
    margin-right: 25px;

}

}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////     */


@media (max-width: 450px) {

	label {

    font-size: 0.7rem;
    color: #424141;

}


.imgvf {

    background-image: url(../img/2-7/a7.png);
    background-size: 200px 100px;
    width: 200px;
    height: 100px;
    margin: 5% 23% 0;
    background-repeat: no-repeat;

}

.imgvfi {

    height: 30px;
    width: 30px;

}

.item2 {

    font-size: 11px;
    margin-top: 15px;
    width: 71%;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
    margin: 0 auto 0;

}

.item3 {

    float: left;
       width: auto;
    padding: 0px 0 0 0;
    margin: 0 auto 0;

}

.container, .content-wrapper {

    position: fixed;
    margin: 30% auto 0;
    width: 100%;
    max-width: 100%;

}

.contenedorimg {

    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 0px 0px 0;
    border-radius: 15px;
    float: left;

}
#contenedorPiezas {

    background: #5561ff00;
    width: 100%;
    height: auto;
    margin: 0% auto 0;
    float: left;
    /* margin-left: auto; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 110px; */

}



#contenedorPuzzle {

    margin-top: -59px;
    border-radius: 10px;
    overflow: hidden;

}

#contenedorPuzzle img {

    float: left;
    padding: 4px 12px 4px 10px;
    width: 80px;
    height: auto;
    position: relative;
    z-index: 10;

}

.seleccion {

    top: 0;
    position: relative;

}

.recibidores {

    position: relative;
    margin: 5% auto 0;
    width: 90%;
    left: auto;
    top: auto;

}


#r1 {
    border-radius: 5px;
    float: left;
    width: 85%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: #f2f0ff40;
    margin-top: 3px;
}

 #r2 {
    border-radius: 5px;
    float: left;
    width: 40%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: #f2f0ff40;
    margin-top: 3px;
}

#r3 {

    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 2px;
    text-align: center;
    background-color: #f2f0ff40;

}

#r4, #r5 {

    border-radius: 5px;
    float: left;
    width: 25%;
    padding: 2px;
    height: 17px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 7px;
    text-align: center;
    background-color: #f2f0ff40;

}

.pieza {

    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
        padding: 3px 15px;
    margin-left: 0px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
    margin: 0 0px 0;

}

.piezag {

    border: 0;
    color: #686967;
    text-align: center;
    font-size: 6px;
    font-family: sans-serif;
    padding: 4px 0px;
    margin-left: 0;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;

}

.pieza{

    margin: 0px;
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: 0px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;

}
.pato{

    margin: 0px;
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: 0px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.oveja{

    margin: 0px;
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: 0px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}
.gallina{

    margin: 0px;
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: 0px;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}


.vaca {

    margin: 0;
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 8px;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: 0;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;

}

.line {

    margin-bottom: 0;

}

}

