.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px; */
}
.grid-preguntas {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}

.grid-pregunta {
    /* margin: 4vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    flex-direction: column;
}

.pregunta {
    width: 269px;
    margin-bottom: 2vh;
    margin-right: 4vh;
    text-align: center;
}

.options {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

/* .option {
    margin-bottom: 3vh;
} */

.caja {
    /* width: 500px; */
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-weight: bold;
    color: orange;
}
.txtopt {
    font-size: 1.8em !important;
}

.al {
    color: #0095DA;
    margin-right: 1vh;
}

.text {
    font-size: 1.5em;
    text-align: justify;
}

.principal {
    width: auto;
    height: 130px;
    margin-bottom: 4vh;
}

@media (min-width: 1920px) {
    .principal {
        width: auto;
        height: 250px;
        margin-bottom: 4vh;
    }
}

.ro {
    background: rgb(255, 204, 204);
    padding: 0 12px;
    margin-bottom: 3vh;
}

.az {
    background: rgb(204, 255, 255);
    padding: 0 12px;
    margin-bottom: 3vh;
}


.c1 {
    color: #999;
    font-weight: normal;
}
.c1::before {
    border-right: 2px solid #0095DA !important;
    border-bottom: 2px solid #0095DA !important;
}

.img {
    width: auto;
    height: 20px;
}