h4 {
    text-align: center;
}

h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 80%;
    margin: auto;
}

.contenedor-oraciones {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    align-items: center;
}

.lectura {
    padding: 15px;
    margin-top: 15px;
    background-color: cornflowerblue;
    color: white;
}

.lectura p {
    font-size: 1.5rem;
}

.contenedor-check {
    padding-top: 20px;
}

.oracion {
    width: 100%;
    padding-top: 35px;
}

.oracion h5 {
    text-align: center;
}

.contenedor-check {
    display: flex;
    justify-content: center;
}

.contenedor-check .respuesta {
    padding: 10px;
    margin: 5px;
    border: 3px solid silver;
    border-radius: 12px;
}

.container-cuento {
    width: 60%;
    margin: auto;
}

.contenedor-check .respuesta:hover {
    border-color: rgb(40, 179, 243);
}

.contenedor-check .respuesta span {
    font-size: 1.5rem;
}

.rsp {
    background-color: rgb(56, 185, 245);
}

ul.tabs {
    background-color: rgb(45, 123, 240);
    margin-top: 30px;
    height: 40px;
}

.tabs .tab {
    height: 40px;
    line-height: 40px;
}

ul.tabs li.activo {
    background-color: rgb(90, 148, 235);
    ;
}

ul.tabs li.tab a {
    color: white!important;
}

ul.tabs li.indicator {
    background-color: rgb(211, 211, 211)!important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: inherit!important;
    outline: none;
}


/************/


/**************/

@media(max-height: 640px) {
    .contenedor-oraciones {
        width: 100%;
        padding-top: 0;
    }
    .contenedor-check {
        padding-top: 0;
    }
    .contenedor-check .respuesta {
        padding: 5px;
        margin: 8px;
    }
    .container-cuento {
        width: 100%;
    }
    .oracion h5 {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    .oracion {
        width: 100%;
        padding-top: 20;
    }
    ul.tabs {
        margin-top: 0;
    }
}