

@media (max-width: 800px) {

.imgvf {
        background-image: url(../img/2-3/a3.gif);
    background-size: 250px 140px;
    width: 250px;
    height: 140px;
    margin: 11% auto 0;
    background-repeat: no-repeat;
}

.seleccion {
    top: 0;
    position: relative;
        margin: 0% 7% 0;
    width: 91%;
}


#contenedorPiezas {
    background: #5561ff00;
    width: auto;
    height: 242px;
    float: left;
    margin-left: 16px;
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    margin-top: 106px;
}


.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: 100px;
    margin: 5px;
    border-radius: 15px;
}



.item3 {
    float: left;
    width: 100%;
    padding: 0;
    /* border-color: bisque; */
    border: solid 1px #bdbdbd59 !important;
    border-radius: 15px;
    box-shadow: grey 0px 2px 1px;
}

}



    @media only screen and (max-width:800px) and (orientation:landscape){
       /* default iPad screens */

.imgvf {
    background-image: url(../img/2-3/a3.gif);
    background-size: 240px 140px;
    width: 239px;
    height: 140px;
    margin: 2% 0% 0% 5%;
    background-repeat: no-repeat;
    position: relative;
    top: 102px;
    /* box-shadow: grey 0px 0px 3px 0px; */
    /* border: solid #f1f1f1 4px; */
    /* border: 2px beige; */
}

.seleccion {
    top: 0;
    position: relative;
    margin: -18% 7% 0 39%;
    width: 57%;
}

.item2 {
    font-size: 12px;
    margin-top: 18px;
    width: 40%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.row {

    margin-bottom: 10px;
}

label {
    font-size: 0.8rem;
  
}


    }




 @media only screen and (max-width:680px) and (orientation:landscape){

.imgvf {
    background-image: url(../img/2-3/a3.gif);
    background-size: 175px 95px;
    width: 200px;
    height: 100px;
    margin: 0% 0% 0% 8%;
    background-repeat: no-repeat;
    position: relative;
    top: 89px;
}
.imgvfi {
    height: 35px;
    width: 35px;
}


.seleccion {
    top: 33px;
    position: relative;
}


.item2 {
    font-size: 11px;
    margin-top: 21px;
    width: 32%;
    float: left;
    margin-left: 28px;
    margin-right: 25px;
    margin: 9% auto 0;
}


.item1 {
    width: 43%;
    float: left;
}

.item3 {
    float: left;
    width: 100%;
    padding: 0;
    /* border-color: bisque; */
    border: solid 1px #bdbdbd59 !important;
    border-radius: 15px;
    box-shadow: #80808000 0px 2px 1px;
}

.Alabel {
    margin-left: 5px;
}



 }