.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
img.img-principal {
    width: 630px;
    height: auto;
    margin-top: 2vh;
}
.letraConjunto{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}
.cajas{
    height: 80px;
}
.caja{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}
.grupoV, .grupoF{
    height: 90px;
}
img.img-principal .uno{
    margin-right: 200px!important;
}
img.img-principal .dos{
    margin-left: 200px;
}
.palabras{
    height: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}
.palabra{
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
    padding: 8px 15px;
    border-radius: 200px;
    text-align: center;
    color: white;
    -moz-user-select: none;
    margin: 10px;
}

.pieza:hover{
    box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
}
.palabra img{
    width: 45px;
}


@media only screen and (max-width: 1250px){
    .container-two {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
    }
    img.img-principal {
        max-width: 430px;
        height: auto;
        margin-top: 4vh;
    }
    .letraConjunto{
        font-size: 24px;
        color: #333;
        font-weight: bold;
    }
    .cajas{
        height: 80px;
    }
    .caja{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    .grupoV, .grupoF{
        height: 90px;
    }
    img.img-principal .uno{
        margin-right: 200px!important;
    }
    img.img-principal .dos{
        margin-left: 200px;
    }
    .palabras{
        height: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin-top: 0px;
    }
    .palabra{
        box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
        padding: 8px 15px;
        border-radius: 200px;
        text-align: center;
        color: white;
        -moz-user-select: none;
        margin: 10px;
    }
    
    .pieza:hover{
        box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.13);
    }
    .palabra img{
        width: 45px;
    }

}