.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.contenedor-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
}
.grid-preguntas {
    width: 800px;
}
.img {
    width: auto;
    height: 19px;
    margin-right: 1vh;
    margin-left: 1vh;
}
.item {
    font-size: 22px;
    margin-bottom: 2vh;
}
.item span {
    color: red;
    margin-right: 2vh;
}
.contenedor {
    background: white;
    border: 1px solid silver;
    width: 110px;
    height: 50px;
    z-index: -1;
}

.pieza {
    height: 40px;
    width: 100px;
    border: 1px solid #b1dff1;
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2f3fa;
    font-size: 1.4em;
    font-weight: bold;
}

.item {
    display: flex;
    align-items: center;
}