h5 {
    width: 80%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contenedor-ejercicios .ejercicio {
    width: 100%;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ejercicio .ejercicio-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ejercicio .ejercicio-item .contenedor-img {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ejercicio .ejercicio-item .contenedor-texto {
    width: fit-content;
}

.ejercicio .ejercicio-item .contenedor-texto p {
    font-size: 1.6rem;
}

.ejercicio .ejercicio-item .contenedor-texto p span select {
    color: rgb(29, 131, 214);
    text-align: center;
}

.ejercicio .ejercicio-item .contenedor-texto p span select option {
    text-align: center;
}

.contenedor-texto p span {
    color: tomato;
    font-weight: 700;
}

.contenedor-texto p span.selectx {
    margin-top: 15px;
    display: inline-flex;
    width: 80%;
}

@media(max-height: 640px) {
    .row {
        margin-bottom: 0;
    }
    .contenedor-ejercicios {
        width: 90%;
        padding-top: 0px;
    }
    .contenedor-ejercicios .ejercicio {
        padding: 0px 0;
    }
    .ejercicio select {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .ejercicio .ejercicio-item .contenedor-texto p {
        margin: 0px 0;
        font-size: 1.3rem;
    }
    .ejercicio .ejercicio-item .contenedor-texto p.text-alone {
        margin: .9rem;
    }
    .ejercicio .ejercicio-item .contenedor-img img {
        max-width: 85%;
    }
    .contenedor-texto p span.selectx {
        margin-top: 10px;
    }
}