#contenedorPuzzle img {
    float: left;
    padding: 0px 0px 0 0;
       width: 55px;
    height: auto;
    position: relative;
    z-index: 10;
        top: 5;
}

.conj1 {
    background: url(../img/2-5/a5.gif);
         height: 155px;
    width: 225px;
    background-repeat: no-repeat;
    background-size: 100% 155px;
    position: absolute;
    
}

	.conj2{
    background: url(../img/2-5/b5.gif);
       height: 155px;
    width: 225px;
    background-repeat: no-repeat;
    background-size: 100% 155px;
    position: absolute;
    
	}

  .ej1, .ej2 {
        width: 100%;
    padding: 8% 25% 2%;
    height: 36vh;
}
.lpd {
    position: relative;
    left: 8px;
    float: left;
    top: 20px;
}
.lpd2 {
    position: relative;
        left: 19px;
    top: 20px;
    float: left;
}

#uno, #dos {
    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
  
    width: 120%;
   
    height: 7vh;
    background-color: #f2f0ff40;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 150%;
    height: auto;
    float: left;
    margin-left: auto;
   
    margin-top: auto;
}



	@media (max-width: 1300px) {


		.ej1, .ej2 {

		    width: 100%;
		    padding: 8% 0% 2% 21%;
		    height: 36vh;
		    
		}

		#contenedorPiezas {

		    background: #5561ff00;
		    width: 150%;
		    height: auto;
		    float: left;
		    margin-left: auto;
		    
		    margin-top: auto;

		}

		.lpd2 {

		    left: 14px;
		  
		}

	}

											
						@media only screen and (max-width:880px) and (orientation:landscape){


							ul{

								    margin-top: -12px;

							}

							.ej1, .ej2 {

							    width: 100%;
							    padding: 8% 16% 0%;
							    height: 24vh;

							}

							.lpd2 {

								    position: relative;
								    left: -13px;
								    top: 20px;
								    float: left;

									}

							.conj1 {

							    background: url(../img/2-5/a5.gif);
							    height: 80px;
							    width: 100px;
							    background-repeat: no-repeat;
							    background-size: 100% 100%;
							    position: absolute;

							}

							.conj2 {

							    background: url(../img/2-5/b5.gif);
							    height: 80px;
							    width: 100px;
							    background-repeat: no-repeat;
							    background-size: 100% 100%;
							    position: absolute;

							}

							#contenedorPiezas {

							    background: #5561ff00;
							    width: 150%;
							    height: auto;
							    float: left;
							    margin-left: auto;
							   
							    margin-top: auto;

							}

							#contenedorPuzzle img {

							    float: left;
							    padding: 0px 0px 0 0;
							    width: 27px;
							    height: auto;
							    position: relative;
							    z-index: 10;
							    top: 5;

							}

							#uno, #dos {

							    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
							   
							    width: 61px;
							   
							    height: 7vh;
							    background-color: #f2f0ff40;
							    margin-top: 23px;

							}

							.row {

							    margin-bottom: 16px;

							}

						}






				@media (max-width: 800px) {

							.ej1, .ej2 {
						    width: 100%;
						    padding: 8% 0% 2% 9%;
						    height: 36vh;
								}

				}




				@media (max-width: 481px) {

					.ej1, .ej2 {

					    width: 100%;
					    padding: 16% 0 0%;
					    height: 25vh;

					}

					.lpd2 {

					    position: relative;
					    left: 29px;
					    top: 20px;
					    float: left;

					}

					.conj1 {

					    background: url(../img/2-5/a5.gif);
					    height: 80px;
					    width: 100px;
					    background-repeat: no-repeat;
					    background-size: 100% 100%;
					    position: absolute;

					}

					.conj2 {

					    background: url(../img/2-5/b5.gif);
					    height: 80px;
					    width: 100px;
					    background-repeat: no-repeat;
					    background-size: 100% 100%;
					    position: absolute;

					}
					#contenedorPiezas {

					    background: #5561ff00;
					    width: 150%;
					    height: auto;
					    float: left;
					    margin-left: auto;					    
					    margin-top: auto;

					}

					#contenedorPuzzle img {

					    float: left;
					    padding: 0px 0px 0 0;
					    width: 27px;
					    height: auto;
					    position: relative;
					    z-index: 10;
					    top: 5;

					}

					#uno, #dos {

					    box-shadow: inset 0px 1px 3px 0px #7d7c7c;
					    width: 52px;					    
					    height: 5vh;
					    background-color: #f2f0ff40;
					    margin-top: 19px;

					}

				}



