h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-palabras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contenedor-palabras p {
    width: 33%;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
}

.contenedor-palabras p span.tonica {
    color: cornflowerblue;
}

.contenedor-palabras p span.palabra {
    border: 3px solid silver;
    border-radius: 12px;
    padding: 3px 10px;
}


/************/


/**************/

@media(max-height: 640px) {
    .contenedor-palabras {
        width: 93%;
    }
}