h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicio {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

@media(max-width: 1500px) {
    .contenedor-ejercicio {
        width: 80%;
    }
}

.lectura h4 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: rgb(29, 131, 214);
}

.lectura p {
    font-size: 1.5rem;
}

p.select {
    font-size: 1.6rem;
}

p.select span select {
    color: rgb(29, 131, 214);
    text-align: center;
}

p.select span select option {
    text-align: center;
}

p.select span {
    display: inline-flex;
    width: 300px;
    margin-top: 15px;
}

.contenedor-ejercicio .lectura {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.contenedor-ejercicio .lectura p {
    width: 48%;
}

.contenedor-ejercicio .select {
    width: 30%;
}

@media(max-height: 640px) {
    .contenedor-ejercicio {
        width: 80%;
        display: flex;
    }
    .lectura p {
        font-size: 1.4rem;
        margin: 5px;
    }
    .lectura h4 {
        padding-top: 20px;
    }
}