.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 4vh;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}
.o{
  color: orange;
}
.cajas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
}
.image{
    width: 600px;
    height: 400px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.imagen{
    width: 600px;
    height: 600px;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.image2{
    width: 600px;
    height: 600px;
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.caja{
    width: 90%;
}
.principalNumber{
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(250, 250, 250);
  grid-column: 1/5;
  text-align: center;
  font-weight: 600;
  color: rgb(133, 83, 180);
  font-size: 1.5rem;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(102, 204, 102);
    padding: 2px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    position: absolute;
}
.boxuno{
    top: 190px;
    left: 230px;
}
.boxdos{
    top: 250px;
    left: 170px;
}
.boxtres{
    top: 320px;
    left: 175px;
}
.boxcuatro{
    top: 380px;
    left: 230px;
}
.boxcinco{
    top: 380px;
    left: 305px;
}

.cabe {
    background-color: rgb(209, 230, 186);
    border-color: rgb(102, 204, 102);
    padding: 0;
}
.bn {
    border: none;
}
.bre {
    border-bottom: 3px solid red;
}
.r {
    color: red;
}
.mas {
    position: absolute;
    top: 5px;
    right: -31px;
    color: red;
    /* bottom: 0; */
}
.b {
    color: blue;
}
.img {
    width: 90px;
    height: auto;
}

.campo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mg {
    margin-right: 10px;
    margin-left: 10px;
    color: red;
}
.info {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(75, 75, 75);
}
.caja{
    position: relative;
}
hr{
    border: 2px solid red;
}
.plus{
    position: absolute;
    right: -30px;
    top: 100px;
    font-size: 40px;
    font-weight: 600;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: #ffffff !important;
    border-radius: 8px !important;
}
.header{
    background-color: rgb(0, 184, 107);
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.filas,.header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
    margin: 4px;
    padding: 10px;
}

@media screen and (max-height: 768px){
    .filas, .header{
        margin: 2px;
        padding: 2px;
    }
    .image{
        height: 300px;
    }
}

.azul{
    color: rgb(0, 60, 255);
}
.rojo{
    color: red;
}
.naranja{
    color: rgb(255, 145, 0);
}
.verde{
    color: rgb(9, 207, 9);
}

/* .grid-container .select-wrapper {
    margin-right: 1vh;
    margin-left: 1vh;
} */
.select-wrapper ul {
    height: 300px !important;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 50px;
    margin: 0;
}
.largo .select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 60px;
    margin: 0;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 5px;
}

.pregunta {
    font-size: 22px;
}

.tabla {
    width: 100%;
}

.tabla {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
}

.flecha {
    color: red;
    margin-left: 2vh;
}
@media screen and (max-width: 1350px){
    .grid-item{
        font-size: 15px;
    }
    .select-wrapper input.select-dropdown {
        border: 1px solid silver;
        width: 60px;
        margin: 0;
    }
}