    h4 {
        text-align: center;
    }
    
    .contenedor-elementos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .contenedor-element {
        width: 50%!important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    
    .contenedor-element>div {
        margin: 0 15px;
    }
    
    .contenedor-element .imagen img {
        width: 100px;
    }
    
    .silaba {
        position: relative;
    }
    
    .silaba span {
        position: absolute;
        top: 3px;
        left: 8px;
        font-size: 1.9rem;
    }
    
    .silaba-faltante {
        width: 80px;
        height: 40px;
        background-color: #37D3F7;
        margin: auto;
        border-radius: 12px;
    }
    
    .silaba-faltante h4 {
        line-height: 1.9rem!important;
    }
    
    .contenedor-faltante {
        background-color: antiquewhite;
        border: 3px solid silver;
        width: 100px;
        height: 50px;
        border-radius: 12px;
        margin-left: 60px;
    }
    
    .contenedor-faltante.mr {
        margin-left: 0;
    }
    
    .silaba span.span-after {
        right: -150px;
    }
    
    span.moli {
        left: 0;
    }
    
    .contenedor-silabas {
        display: flex;
        width: 50%;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .contenedor-silabas .silabas {
        width: 50px;
    }
    
    .silabas h4 {
        display: inline-block;
        font-size: 1.8rem;
        background-color: #37D3F7;
        font-weight: bold;
        padding: 3px 15px;
        border-radius: 12px;
    }
    
    @media (max-height: 640px) {
        .contenedor-element {
            width: 33%!important;
            padding: 16px!important;
        }
    }