h4 {
    text-align: center;
}

#listA {
    display: flex;
    flex-wrap: wrap;
}

#palabras {
    padding: 50px;
}

#palabras li {
    width: 100%;
    margin: auto;
    margin-bottom: 15%;
    margin-right: 1px;
}

@media (min-width: 600px) {
    #palabras li {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    #palabras li {
        width: 18%;
    }
}
.muestra {
    width: 100px;
    margin: auto;
    margin-top: 30px;
}
.box {
    height: 200px;
    width: 200px;
    border: 3px solid silver;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box img {
    width: 50%;
    height: 100%;
}

.box:hover {
    border: 3px solid #37D3F7;
}