.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}
.cajas {
  height: 60px;
  display: grid;
  align-items: center;
}
.imagenesPrincipales{
  display: grid;
  justify-items: center;
}
.coleLineal li{
  list-style: none;
  display: inline-block;
}
.collect{
  text-align: center;
}
.card-caja h4{
  font-size: 20px;
}
@media only screen and (max-width: 1200px) {
  
}
