h4 {
    text-align: center;
}

h5 {
    width: 80%;
}

.contenedor-ejercicios {
    width: 80%;
    padding-top: 40px;
    margin: auto;
}

.contenedor-ejercicios .ejemplo {
    width: fit-content;
    margin: auto;
}

.contenedor-ejercicios .ejemplo span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.7rem;
    border: 3px solid silver;
    border-radius: 12px;
    background-color: rgb(124, 29, 161);
    color: white;
    font-weight: 700;
}

.contenedor-ejercicios .secuencia {
    width: fit-content;
    padding-top: 40px;
    margin: auto;
}

.contenedor-ejercicios .secuencia span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.7rem;
    border: 3px solid silver;
    border-radius: 12px;
    background-color: white;
    color: white;
}

.contenedor-ejercicios .secuencia span:hover {
    border-color: #37D3F7;
}

.contenedor-ejercicios .secuencia span.respuesta {
    width: 80px;
    padding: 8px 10px;
    margin: 0px 10px;
}

.contenedor-ejercicios .secuencia span.respuesta.tonica {
    border-color: tomato;
    box-shadow: 0px 0px 4px 1px #891978;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .contenedor-ejercicios {
        width: 70%;
        padding-top: 25px;
    }
    .contenedor-ejercicios .secuencia {
        padding-top: 20px;
    }
    .contenedor-silabas {
        width: 30%;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 0;
    }
    .contenedor-ejercicios .secuencia span.respuesta {
        padding: 4px 10px;
    }
}