h5 {
    width: 85%;
}

.container {
    display: flex;
    height: 70%;
    align-items: center;
}

.container .row {
    width: 100%;
}

.contenedor-ejercicios {
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-ejercicios .ejercicio {
    text-align: center;
    padding: 15px 0;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}

.ejercicio.imagen {
    width: 100%;
}

.ejercicio h4 {
    width: 100%;
}

.ejercicio h4 span {
    color: tomato;
    font-weight: 700;
}

.ejercicio p {
    width: fit-content;
    margin: auto;
    font-size: 1.7rem;
    margin-top: 35px;
}

p span {
    color: tomato;
    font-weight: 600;
}

p span.select {
    display: inline-flex;
    width: 250px;
}

span select {
    color: rgb(47, 196, 230);
}

.ejercicio .conjunto {
    width: 438px;
    height: 185px;
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
}

.conjunto p {
    position: absolute;
}

p.letra span {
    width: 50px;
}

p.uno {
    top: calc(50% - 70px);
    left: 30px;
}

p.dos {
    top: 50%;
    left: 30px;
}

p.tres {
    top: calc(50% - 70px);
    left: calc(70% - 80px);
}

p.cuatro {
    top: 50%;
    left: calc(70% - 80px);
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        display: flex;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor-ejercicios .ejercicio {
        padding: 0;
    }
    .ejercicio p {
        margin-top: 18px;
        font-size: 1.5rem;
    }
    .ejercicio .conjunto {
        width: 346px;
        height: 145px;
    }
}