.container-two {
  margin: 0 auto;
  max-width: 1000px;
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 2fr;
  justify-items: center;
  align-items: center;
}
.content{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr;
  align-items: center;
  justify-items: center;
}
.item { 
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 5px;
}
.item img{
  width: 500px;
}
.item span, .item img{
  display: inline-block;
}

/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(192, 192, 192);
  width: 140px;
  margin: 6px 0px;
  font-weight: 400;
  font-size: 22px;
  height: 40px;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
  border: 1px solid silver;
}
.rojo{
  font-weight: 600;
  color: red;
  font-size: 24px;
}
.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
  height: auto;
}

::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}

@media screen and (max-height: 700px){
  .item img{
    width: 400px;
  }
}