h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 50px;
}

.ejercicio {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ejercicio .imagen-palabra {
    width: 180px;
    display: flex;
    justify-content: center;
}

.ejercicio .imagen-palabra img {
    max-width: 100%;
    max-height: 200px;
}

.contenedor-contenedores {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contenedor-contenedores .contenedor-x {
    position: relative;
    height: 300px;
    width: 300px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: 0 5px;
}

.contenedor-x span {
    position: absolute;
    top: 5px;
    font-size: 1.8rem;
    left: 45%;
}

@media(max-height: 640px) {
    .contenedor-ejercicios {
        padding-top: 7px;
    }
    .ejercicio .imagen-palabra img {
        max-width: 70%;
    }
    .contenedor-contenedores {
        padding-top: 20px;
    }
    .contenedor-contenedores .contenedor-x {
        height: 200px;
        width: 200px;
    }
}