.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}
/* Seleccion */

.select-wrapper input.select-dropdown {
    border: 1px solid silver !important;
    font-size: 24px;
    height: 2.4rem;
}

.select-wrapper {
    position: relative;
    width: 65px;
}
.f1 {
    position: absolute;
    top: 96px;
    left: 104px;
}
.f2 {
    position: absolute;
    top: 88px;
    left: 105px;
}
.select-wrapper ul {
    height: 200px !important;
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin: 0 4vh;
    position: relative;
}

.grid-num {
    display: grid;
    grid-template-columns: auto ;
    padding: 10px;
    position: relative;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grid-tabla {
    display: grid;
    grid-template-columns: auto;
}

.img {
    width: 700px;
    height: auto;
}
h5 {
    width: 80%;
    font-size: 24px;
}