.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    height: 70%;
    align-items: center;
}

h5 {
    max-width: 80%;
}

.container .row {
    width: 100%;
}

img.img-principal {
    margin-top: 2vh;
    width: auto;
    height: 130px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0095DA;
}

.grid-item.separador {
    border-bottom: 2px solid red;
}

.grid-item span {
    font-size: 1.9rem;
    font-weight: 600;
}

select#select2 {
    border-radius: 12px;
}

.select-wrapper input.select-dropdown {
    background: #0095DA !important;
    color: #ffffff !important;
    font-weight: 600;
}

@media (min-width: 1920px) {
    .grid-item {
        width: 100px;
        height: 69px;
    }
}

.img {
    padding: 5px;
    border-style: none;
    width: 62%;
    height: auto;
}

.caja {
    width: 25px;
    height: 25px;
    border: 2px solid silver;
    border-radius: 3px;
    cursor: pointer;
}