
#contenedorPuzzle img {
    float: left;
    padding: 0;
    width: 80px;
    height: auto;
    position: relative;
    z-index: 10;
}
.container, .content-wrapper {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    /* left: 0; */
    max-width: 100%;
}

.imgvf {
    background-image: url(../img/2-8/a8.gif);
    background-size: 300px 180px;
    width: 300px;
    height: 180px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url(../img/2-8/b8.gif);
    background-size: 400px 68px;
    width: 400px;
    height: 59px;
    margin: 25px auto 0px;
    background-repeat: no-repeat;
}


.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
       margin: 6px;
    border-radius: 0px;
    text-align: center;
}


.contenedorPieza {
    width: 80px;
    height: auto;
    height: 31px;
    float: left;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin: 0px 27%;
    /* margin-left: 179px; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 150px; */
}

#r1{

    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}

#r2{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}

#r3{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
#r4{
       border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
#r5{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
#r6{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
#r7{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}

#r8{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
#r9{
    border-radius: 5px;
    float: left;
    width: 120px;
    padding: 5px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 1px 4px 0px #dadada;
    margin-right: 13px;
    margin-left: 13px;
    text-align: center;
}
.p34{
        
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 54px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}


.p8{
        
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 48px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.p16i{
        
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 36px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.p2{
        
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 58px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.pieza{
        
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 54px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
 

}

.piezag {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 10px 18px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.recibidores {
    width: 660px;
    position: relative;
    margin: 0 auto;
    /* left: 174px; */
    top: 30px;
}
td, th {
    padding: 0px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
table {
    width: 50%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

li {
  float: left;
}

thead{
    background-color: #e6eff7;
}
#FilaTotal{
        border-bottom: 1px solid rgba(255, 255, 255, 0);
         height: 40px;
}
#FilaUltima{
        border-bottom: 1px solid rgb(0, 149, 218);
       
}

@media (max-width: 1500px) {
.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: auto 5px;
    border-radius: 0px;
    text-align: center;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 90%;
    height: auto;
    float: left;
       margin: 0 200px;
    /* margin-left: 179px; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 150px; */
}


td, th {
    padding: 0px 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table {
    width: 50%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.imgth{

   width: 70px;
    height:auto;
}

}







}
@media (max-width: 900px) {

.logoUnidad {
        width: 6%;
    left: 7px;
    top: 17px;
    position: fixed;
}

.cronometro {
    width: 20%;
    left: 74%;
    top: 26px;
    position: fixed;
}

.container, .content-wrapper {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    /* left: 0; */
    max-width: 100%;
}


.img2 {
    background-image: url(../img/2-8/b8.gif);
    background-size: 406px 57px;
    width: 525px;
    height: 50px;
    margin: 0px auto;
    background-repeat: no-repeat;
}

.imgvf {
    background-image: url(../img/2-8/a8.gif);
    background-size: 450px 227px;
        width: 564px;
    height: 229px;
    margin: 0 auto;
    background-repeat: no-repeat;
}


#contenedorPiezas {
    margin: 0 auto;
    background: #5561ff00;
    width: 84%;
    height: 37px;
    float: left;
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
}
.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: 100%;
    height: 0;
    margin: 0px;
    border-radius: 15px;
}

.p34 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 3px 21px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.p8 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.p2 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 4px 22px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}


.p16i {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5px 2px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.imgth{

    width: 50px;
    height:auto;
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: 100%;
    height: 0;
    margin: 12px auto;
    border-radius: 15px;
}

.botones {
    padding: 0px;
    position: fixed;
        top: 91%;
    left: 10%;
    margin: 0 auto;
    width: 82%;
}
.btnEnviar {
    width: 100px;
}

.btnCorregir {
    width: 90px;
    position: relative;
}

.btnSiguiente {
    width: 90px;
    position: relative;
}



#r1, #r2, #r3, #r4, #r5, #r6 {
    border-radius: 5px;
    float: left;
       width: 70%;
    padding: 5px;
    height: 20px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 2px 4px 0px #dadada;

    text-align: center;
        background-color: #f2f0ff40;
}



table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 6px;
}
td, th {
    padding: 0px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    margin-top: 25px !important;
}
table {
    width: 82%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

table.responsive-table tbody {
    display: table;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}
table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: center;
    min-width: 100px;
}

}



@media (max-width: 800px){
    
.container, .content-wrapper {
    position: fixed;
    margin: 12px auto 0px;
    width: 100%;
    /* left: 0; */
    max-width: 100%;
}

#contenedorPiezas {
    background: #5561ff00;
    width: 100%;
    height: auto;
    float: left;
    margin: 0 9px;
    /* margin-left: 179px; */
    /* box-shadow: 0px 0px 10px 2px #dadada; */
    /* margin-top: 150px; */
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
    width: auto;
    height: auto;
    margin: 8px 5px;
    border-radius: 0px;
    text-align: center;
}


table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 18px;
}
table.responsive-table th {
    display: block;
    text-align: right;
    margin-top: 10px;
}

table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: center;
    padding: 5px 0 2px 0px;
}

}


@media (max-width: 450px){

.logoUnidad {
    width: 15%;
    left: 7px;
    top: 17px;
    position: fixed;
}

.cronometro {
    width: 20%;
    left: 74%;
    top: 26px;
    position: fixed;
}

.container, .content-wrapper {
    position: fixed;
    margin: 0 auto;
    scroll-behavior: 0;
    top: 89px;
    left: 0%;
    width: 117%;
}

.img2 {
    background-image: url(../img/2-8/b8.gif);
    background-size: 340px 57px;
    width: 429px;
    height: 50px;
    margin: 0px 5%;
    background-repeat: no-repeat;
}

.imgvf {
    background-image: url(../img/2-8/a8.gif);
    background-size: 382px 204px;
    width: 437px;
    height: 201px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

table.responsive-table th, table.responsive-table td {
    margin: 0;
    vertical-align: top;
    padding: 0px 0px 59px 1px;
    width: 100px;
}

.botones {
    padding: 50px;
    position: fixed;
    top: 50%;
    margin: 0 auto;
   
    width: 67%;
}

#contenedorPiezas {
    margin: 0 auto;
    background: #5561ff00;
        width: 100%;
       height: auto;
    float: left;
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedorimg {
    border: solid 1px #dcdcdc00;
        width: 20%;
    height: auto;
    margin: 12px auto;
    border-radius: 15px;
}

.p34 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 3px 21px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.p8 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 3px 15px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.p2 {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 4px 22px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}


.p16i {
    border: 0;
    color: #686967;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5px 2px;
    margin-left: -5;
    background: -moz-linear-gradient(center top , #CDEB8E 0%, #A5C956 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 1px 0 #a0a09f;
}

.imgth{

	width: 50px;
	height:auto;
}


table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
   
}

table.responsive-table th, table.responsive-table td {
    margin: 0;
    vertical-align: top;
    padding: 0px 0px 29px 0px;
    width: 63px;
    text-align: center;
}


table.responsive-table tbody {
    display: table;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}





#r1, #r2, #r3, #r4, #r5, #r6 {
    border-radius: 5px;
    float: left;
        width: 60%;
    padding: 5px;
    height: 20px;
    /* border: #6b6b6b91 solid 1px; */
    box-shadow: brown 1px;
    /* border: 1px blue; */
    box-shadow: inset 0px 2px 4px 0px #dadada;

    text-align: center;
        background-color: #f2f0ff40;
}


table.responsive-table th, table.responsive-table td {
    margin: 11px auto;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    width: 53px;
    text-align: center;
    font-size: 0.8rem;
}

table.responsive-table thead {
    margin-top: 9px;
    /* top: 5px; */
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

table.responsive-table tr {
    border-bottom: none;
    padding: 0 0;
    width: 60px;
}

}

.contenedorPieza {

    min-height: 30px;

}