h4 {
    text-align: center;
}

.contenedor-ejercicios {
    width: 50%;
    margin: auto;
}

.contenedor-oracion {
    padding-top: 15px;
}

.oracion {}

.contenedor-respuesta {
    width: 80%;
    height: 50px;
    border: 3px solid silver;
    border-radius: 12px;
    margin: auto;
}


/************/

.contenedor-silabas {
    display: inline-flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 5%;
}

.contenedor-silabas .silabas {
    margin: 0px 5px;
}

.silabas h4 {
    display: inline-block;
    font-size: 1.8rem;
    background-color: #37D3F7;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 12px;
}


/**************/

@media(max-height: 640px) {
    .row {
        display: flex;
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap;
        align-items: center;
    }
    .contenedor-ejercicios {
        width: 58%;
    }
    .contenedor-silabas {
        display: block;
        margin-left: 0;
        width: 42%;
    }
    .contenedor-silabas .silabas h4 {
        font-size: 1.6rem;
    }
    .contenedor-oracion {
        padding: 0;
    }
    .oracion h4 {
        font-size: 1.7rem;
        margin: 1.2rem 0 0.912rem 0;
    }
}