.caja-principal {
  margin: 0 auto;
  width: 85%;
  margin-top: 4vh;
}
.content {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  align-items: center;
}
::-webkit-scrollbar {
  -webkit-border-radius: 5px;
  background-color: transparent;
  border-radius: 5px;
  height: 10px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 0px;
}
.image{
  background-image: url("../img/1.png");
  background-position: center;
  background-size: cover;
  width: 750px;
  height: 300px;
  position: relative;
}
.box{
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 48px solid rgba(218, 218, 218, 0.123);
  transition: all .3s ease-in-out;
}
.box:hover{
  border-top: 48px solid rgba(238, 238, 238, 0.685);
  transition: all .3s ease-in-out;
}
.boxUno{
  width: 70px;
  height: 0;
  left: 1px;
  bottom: 160px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-75deg);
}
.boxDos{
  width: 70px;
  height: 0;
  left: 30px;
  bottom: 215px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-45deg);
}
.boxTres{
  width: 70px;
  height: 0;
  left: 85px;
  bottom: 246px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-15deg);
}
.boxCuatro{
  width: 70px;
  height: 0;
  left: 150px;
  bottom: 246px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(15deg);
}
.boxCinco{
  width: 70px;
  height: 0;
  left: 205px;
  bottom: 215px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(45deg);
}
.boxSeis{
  width: 70px;
  height: 0;
  left: 235px;
  bottom: 160px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(75deg);
}
.boxSiete{
  width: 70px;
  height: 0;
  left: 235px;
  bottom: 95px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(105deg);
}
.boxOcho{
  width: 70px;
  height: 0;
  left: 205px;
  bottom: 40px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(135deg);
}
.boxNueve{
  width: 70px;
  height: 0;
  left: 150px;
  bottom: 10px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(165deg);
}
.boxDiez{
  width: 70px;
  height: 0;
  left: 85px;
  bottom: 10px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(195deg);
}
.boxOnce{
  width: 70px;
  height: 0;
  left: 32px;
  bottom:42px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(225deg);
}
.boxDoce{
  width: 70px;
  height: 0;
  left: 2px;
  bottom: 96px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(255deg);
}
.boxTrece{
  width: 70px;
  height: 0;
  left: 448px;
  bottom: 160px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-75deg);
}

.boxCatorce{
  width: 70px;
  height: 0;
  left: 479px;
  bottom: 215px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-45deg);
}
.boxQuince{
  width: 70px;
  height: 0;
  left: 532px;
  bottom: 246px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-15deg);
}
.boxDieciseis{
  width: 70px;
  height: 0;
  left: 598px;
  bottom: 246px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(15deg);
}
.boxDiecisiete{
  width: 70px;
  height: 0;
  left: 653px;
  bottom: 215px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(45deg);
}
.boxDieciocho{
  width: 70px;
  height: 0;
  left: 683px;
  bottom: 160px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(75deg);
}
.boxDiecinueve{
  width: 70px;
  height: 0;
  left: 683px;
  bottom: 95px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(105deg);
}
.boxVeinte{
  width: 70px;
  height: 0;
  left: 653px;
  bottom: 40px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(135deg);
}
.boxVeintiuno{
  width: 70px;
  height: 0;
  left: 598px;
  bottom: 10px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(165deg);
}
.boxVeintidos{
  width: 70px;
  height: 0;
  left: 532px;
  bottom: 10px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(195deg);
}
.boxVeintitres{
  width: 70px;
  height: 0;
  left: 480px;
  bottom:42px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(225deg);
}
.boxVeinticuatro{
  width: 70px;
  height: 0;
  left: 450px;
  bottom: 96px;
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(255deg);
}
.respuestas{
  font-size: 2rem;
  color: rgb(6, 118, 209);
}
.respuestas{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.pieza {
  font-size: 24px;
  background-color: rgba(0, 209, 209, 0.932);
  padding: 2px 4px;
  text-align: center;
  border-radius: 6px;
}
.rojo{
  color: red;
}

/*SELECT*/
.select-wrapper input.select-dropdown {
  border: 1px solid rgb(192, 192, 192);
  width: 60px;
  margin: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  height: 40px;
}
.select-wrapper .caret{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
  border: 1px solid silver;
}
.rojo{
  font-weight: 600;
  color: red;
  font-size: 24px;
}
.select-wrapper ul {
  height: auto;
}

.select-wrapper {
  position: relative;
  margin-left: .5vh;
  margin-right: .5vh;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 60px;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 60px;
  border-radius: 12px;
}