.container-two {
  padding-top: 4vh;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}
.caja{
  display: grid;
}
.numero, .letras{
  border: 1px solid rgb(194, 194, 194);
  box-shadow: rgba(36, 36, 36, 0.288) 1px 1px 2px;
  border-radius: 4px;
}
.numero:hover, .letras:hover{
  border: 1px solid rgb(16, 206, 231);
  background-color: rgb(193, 251, 255);
  transition: all .3s ease-in-out;
}
.letras {
  width: auto;
}
.caja h5 {
  width: 100px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 10px 0px;
}
.droppables p{
  font-weight: 600;
  font-size: 14px;
}

.droppables{
  display: grid;
  grid-template-columns: 2fr .2fr 5fr;
  grid-column-gap: 10px;
  margin-top: 10px;
  height: 50px;
}




#boxCheck {
    grid-column: 1/3;
}
.cajaOpciones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  text-align: center;

}
.cajaOpciones2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  padding: 0px 120px;
  text-align: center;
}

.cajaOpciones .p, .cajaOpciones2 .p{
  width: auto;
  background-color: rgb(15, 126, 230);
  margin: 10px;
  color: #fff;
  border: 1px solid rgb(233, 233, 233);
  padding: 4px 10px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1300px){
  .container-two {
    padding-top: 2vh;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  center h5{
    font-size: 20px;
  }
  .caja h5{
    font-size: 20px;
  }
  .cajaOpciones2, .cajaOpciones{
    margin-top: 2px;
  }
  .separa{
    margin-top: 3vh;
  }
  .cajaOpciones .p, .cajaOpciones2 .p{
    font-size: 16px;
    margin: 5px;
  }

  
.droppables{
  display: grid;
  grid-template-columns: 2fr .2fr 5fr;
  grid-column-gap: 20px;
  margin-top: 10px;
  height: 50px;
}

}
@media screen and (max-height: 650px){
  .container-two {
    padding-top: 2vh;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  center h5{
    font-size: 20px;
  }
  .caja h5{
    font-size: 20px;
  }
  .cajaOpciones2, .cajaOpciones{
    margin-top: 2px;
  }
  .separa{
    margin-top: 3vh;
  }
  .cajaOpciones .p, .cajaOpciones2 .p{
    font-size: 16px;
    margin: 5px;
  }

  
.droppables{
  display: grid;
  grid-template-columns: 2fr .2fr 5fr;
  grid-column-gap: 20px;
  margin-top: 10px;
  height: 50px;
}
}