/* *TODO: Container - Scrollbar */

.container-two {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-border-radius: 5px;
    background-color: transparent;
    border-radius: 5px;
    height: 10px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    width: 0px;
}

/* *TODO: Grid Layout */

.grid-head, .grid-box {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 4vh;
}

.grid-body {
    display: grid;
    grid-template-columns: auto;
    font-size: 22px;
}

.grid-item {
    /* border: 1px solid silver; */
    /* padding: 9px; */
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    /* justify-content: center; */
}

/* *TODO: Img */

.img {
    width: auto;
    height: 150px;
}

/* *TODO: Select */

.select-wrapper input.select-dropdown {
    border: 1px solid silver;
    width: 700px;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    color: cadetblue;
    letter-spacing: 1vh;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid silver;
}

.select-wrapper ul {
    height: 260px;
}

.select-wrapper {
    position: relative;
    margin-left: .5vh;
    margin-right: .5vh;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 90px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 90px;
    border-radius: 12px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: cadetblue;
}

/* *TODO: general */

.opt {
    color: #017c9e;
}

.s {
    color: tomato;
    font-size: 1em !important;
    margin-right: 1vh;
    margin-left: 1vh;
    font-weight: bold;
}

.grid-head {
    background: orange;
    color: #fff;
    font-weight: bold;
}

.space {
    margin-right: 4vh;
    margin-left: 4vh;
}

.text {
    font-size: 1.1em;
    margin-right: 2vh;
    letter-spacing: -4px;
}

/* .wc {
    width: 320px;
}

.we {
    width: 463px;
} */